<template>
  <q-page>
    <div class="q-pa-xs">
      <div>
        <q-tabs
          v-model="tabEvent"
          class="text-grey-9 bg-indigo-1"
          active-color="orange-10"
          indicator-color="orange-10"
          align="center"
          narrow-indicator
          style="margin-top:-5px !important;margin-left:-3px !important;margin-right:-3px !important"
        >
          <q-tab name="activities" label="MODALIDADES" icon="event" />
          <q-tab name="event" label="SOBRE O EVENTO" icon="event" />
          <q-tab name="management" label="RELATÓRIOS" icon="data_usage" />
        </q-tabs>

        <!-- <q-separator /> -->

        <q-tab-panels v-model="tabEvent" animated>
          <q-tab-panel name="activities" style="background:#F8F8FF !important">
            <!-- BOTÃO DE ADICIONAR NOVA ATIVIDADE -->
            <div class="row justify-end" style="width:100%">
              <q-btn
                color="secondary q-ma-md bg-green-10"
                unelevated
                icon-right="add"
                label="ADICIONAR ATIVIDADE"
                @click="openNewActivity()"
              />
            </div>
            <!-- CARD PARA LISTAGEM DAS ATIVIDADES CADASTRADAS -->
            <div class="row">
              <q-card
                class="my-card-activity q-ma-xs shadow-1 courseHover"
                v-for="item in activities"
                :key="item.id"
              >
                <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
                <div class="col-11 q-pa-xs row justify-center" @click="athletesActivity(item)">
                  <img :src="'data:image/png;base64,'+item.image" style="width:100px;height:100px" />
                </div>
                <div
                  class="col-12 text-subtitle2 text-center"
                  style="font-size:16px;"
                >{{item.title}}</div>
                <div class="col-12 row justify-center">
                  <q-btn
                    unelevated
                    flat
                    style="width:100%"
                    color="orange-10"
                    icon="edit"
                    class="bg-grey-2"
                    @click="opemUpdateActivityModal(item)"
                  />
                </div>

                <!-- <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div> -->
              </q-card>
              <div
                class="row q-pa-md row justify-center text-orange-10"
                style="width:100%;text-shadow:0.1px 0.1px 0.8px black"
                v-if="activities == ''"
              >AINDA NÃO EXISTE ATIVIDADES CADASTRADAS</div>
            </div>
          </q-tab-panel>
          <q-tab-panel name="event" style="background:#F8F8FF !important">
            <!-- AMOSTRA DO EVENTO SELECIONADO -->
            <div class="contentEvent bg-blue-grey-8 q-pa-sm">
              <div class="imageEvent col-2 content-center">
                <div class="bg-white content-center row justify-center">
                  <img :src="'data:image/png;base64,'+event.image" />
                </div>
              </div>
              <div class="col-10 row">
                <div
                  class="col-12 bg-blue-grey-6 text-white row justify-center q-mb-sm"
                  style="width:100%;font-size:20px"
                >
                  <b class="text-blue-grey-10 q-pr-sm">EVENTO:</b>
                  <b>{{event.title}}</b>
                </div>
                <div class="col-7">
                  <div class="text-white q-ml-md" style="width:100%;font-size:18px">
                    <b class="text-blue-grey-3 q-mr-sm">DATA INICIO:</b>
                    <b>{{event.date_start}}</b>
                  </div>
                  <div class="text-white q-ml-md" style="width:100%;font-size:18px">
                    <b class="text-blue-grey-3 q-mr-sm">DATA FIM:</b>
                    <b>{{event.date_end}}</b>
                  </div>
                  <div class="text-white q-ml-md" style="width:100%;font-size:18px">
                    <b class="text-blue-grey-3 q-mr-sm">DESCRIÇÃO:</b>
                    <b>{{event.description}}</b>
                  </div>
                </div>
                <div class="col-4">
                  <div class="text-white q-ml-md" style="width:100%;font-size:18px">
                    <b class="text-blue-grey-3 q-mr-sm">CEP:</b>
                    <b>{{event.CEP}}</b>
                  </div>
                  <div class="text-white q-ml-md" style="width:100%;font-size:18px">
                    <b class="text-blue-grey-3 q-mr-sm">CIDADE:</b>
                    <b>{{event.city}}</b>
                  </div>
                  <div class="text-white q-ml-md" style="width:100%;font-size:18px">
                    <b class="text-blue-grey-3 q-mr-sm">TIPO DE EVENTO:</b>
                    <b>{{event.type_game}}</b>
                  </div>
                </div>
              </div>
            </div>
          </q-tab-panel>
          <q-tab-panel name="management" class="row" style="background:#F8F8FF !important">
            <q-card
              class="my-card bg-blue-grey-8 text-white courseHover"
              style="max-width:250px;min-width:250px;"
              @click="downloadGeneral()"
            >
              <q-card-actions class="row justify-end">
                <q-btn color="green shadow-0">
                  <div class="row items-center no-wrap">
                    <q-icon left name="cloud_download" />
                    <div class="text-center">Baixar</div>
                  </div>
                </q-btn>
                <!-- <q-btn flat>Action 2</q-btn> -->
              </q-card-actions>
              <q-card-section>
                <div class="text-h6">RELATÓRIO GERAL</div>
                <div class="text-subtitle2">(ATLETAS E MODALIDADES)</div>
              </q-card-section>
            </q-card>
            <q-card
              class="my-card bg-blue-grey-8 text-white q-ml-md courseHover"
              style="max-width:250px;min-width:250px"
              @click="opemModalReportAutorization()"
            >
              <q-card-actions class="row justify-end">
                <q-btn color="green shadow-0">
                  <div class="row items-center no-wrap">
                    <q-icon left name="map" />
                    <div class="text-center">Abrir</div>
                  </div>
                </q-btn>
                <!-- <q-btn flat>Action 2</q-btn> -->
              </q-card-actions>
              <q-card-section>
                <div class="text-h6">AUTORIZAÇÃO</div>
                <div class="text-subtitle2">(PARA MENORES DE IDADE)</div>
              </q-card-section>
            </q-card>

            <!-- DOCUMENTO DE VIAGENS PARA MOTORISTAS -->
            <q-card
              class="my-card bg-blue-grey-8 text-white q-ml-md courseHover"
              style="max-width:250px;min-width:250px"
              @click="downloadReportPassagers()"
            >
              <q-card-actions class="row justify-end">
                <q-btn color="green shadow-0">
                  <div class="row items-center no-wrap">
                    <q-icon left name="cloud_download" />
                    <div class="text-center">BAIXAR</div>
                  </div>
                </q-btn>
                <!-- <q-btn flat>Action 2</q-btn> -->
              </q-card-actions>
              <q-card-section>
                <div class="text-h6">PRESENÇA DE VIAGEM</div>
                <div class="text-subtitle2">(PARA CONFIRMAR PRESENÇA NA VIAGEM)</div>
              </q-card-section>
            </q-card>
          </q-tab-panel>
        </q-tab-panels>
      </div>
    </div>
    <!-- CADASTRAR NOVA ATIVIDADE -->
    <q-dialog v-model="modalSetActivity" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">NOVA ATIVIDADE</div>
        </q-card-section>
        <q-card-section class="scroll row" style="max-height: 50vh">
          <!-- MODALIDADE -->
          <div class="col-12 bg-grey-5 row justify-center">
            <b class="col-12 row justify-start q-pa-sm bg-grey-6" style="font-size:16px">MODALIDADE:</b>
            <q-card
              v-if="modalitySelectedID.id != null"
              class="my-card-select-Modality col-5 q-ma-xs shadow-1"
            >
              <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
              <div class="row justify-end text-red-10 q-ma-xs" @click="delModalitySelected()">
                <q-icon name="cancel" size="20pt" style="position:absolute !important" />
              </div>
              <div class="row flex-center" style="font-size:16px">
                <div class="col-12 q-pa-xs row justify-center" style="min-height:70px">
                  <img :src="'data:image/png;base64,'+modalitySelectedID.image" style="width:100px" />
                </div>
                <div class="col-12 justify-center row">{{modalitySelectedID.title}}</div>
              </div>
              <div class="bg-blue-grey-1 destaque2" style="width:100%;height:4px"></div>
            </q-card>
            <!-- CARD PARA ABRIR MODAL DE MODALIDADES -->
            <q-card
              v-else
              class="col-1 my-card-select-Modality col-5 q-ma-xs shadow-1"
              @click="opemSelectModality()"
            >
              <div class="row flex-center" style="font-size:16px">
                <div class="col-12 row flex-center">
                  <q-icon name="add" class="text-grey" style="font-size:100px;"></q-icon>
                </div>
                <div class="col-12 justify-center row">SELECIONAR</div>
              </div>
            </q-card>
          </div>
          <div class="q-mr-md" v-bind:class="{'col':desktopMargin, 'col-12':!desktopMargin}">
            <!-- TITULO -->
            <q-input
              color="teal-10"
              v-model="activityValue.title"
              type="text"
              dense
              autofocus
              label="NOME DA MODALIDADE"
              class="q-ma-sm"
            >
              <template v-slot:prepend>
                <q-icon name="title" />
              </template>
            </q-input>

            <q-input
              color="teal-10"
              v-model="activityValue.limit_athletes"
              type="number"
              label="LIMITE DE ATLETAS"
            >
              <template v-slot:prepend>
                <q-icon name="vertical_align_center" />
              </template>
            </q-input>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            @click="closeActivityDialog()"
            color="red-10"
            unelevated
          />
          <q-btn class="q-ma-xs" label="SALVAR" color="blue-10" unelevated @click="saveActivity()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- ÁREA PARA SELECIONAR MODALIDADE -->
    <q-dialog v-model="modalSelectedModality" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row bg-grey-3">
          <div class="text-h6 col-12 text-teal-10 row justify-center">SELECIONAR MODALIDADE</div>
        </q-card-section>
        <q-card-section class="scroll" style="max-height: 50vh">
          <div class="col-12 row q-pa-xs">
            <q-btn
              round
              dense
              size="md"
              icon="arrow_back"
              unelevated
              @click="undoModalitySelected()"
              color="green-10"
              class="q-mr-xs q-ml-xs"
              v-if="lastModalitySelected.title != null"
            />
            <div class="row flex-center q-ml-md">{{lastModalitySelected.title}}</div>
          </div>
          <div v-bind:class="{'col row justify-center':desktopMargin, 'col-12':!desktopMargin}">
            <q-card
              class="my-card-select-Modality col-5 q-ma-xs shadow-1"
              v-for="item in modalitysArray"
              :key="item.id"
              v-bind:class="{'selectModality':(modalitySelectedID.id==item.id)}"
              @click="modalitySelectedItem(item)"
            >
              <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
              <div class="row flex-center" style="font-size:16px">
                <div class="col-12 q-pa-xs row justify-center" style="min-height:70px">
                  <img
                    v-if="modalitySelectedID.id != item.id"
                    :src="'data:image/png;base64,'+item.image"
                    style="width:100px"
                  />
                </div>
                <div class="col-12 justify-center row">{{item.title}}</div>
              </div>
              <div class="bg-blue-grey-1 destaque2" style="width:100%;height:4px"></div>
              <div class="flex flex-center">
                <img
                  src="../img/confirm.png"
                  class="selectOptionModality"
                  v-if="modalitySelectedID.id == item.id"
                />
              </div>
            </q-card>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            color="red-10"
            @click="closeModalityModal()"
            unelevated
          />
          <q-btn
            class="q-ma-xs"
            label="SELECIONAR"
            color="blue-10"
            unelevated
            :disabled="modalitySelectedID == 0"
            @click="saveModalityModal()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modalReportAutorization" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">GERAR AUTORIZAÇÃO</div>
        </q-card-section>
        <q-card-section class="scroll row" style="max-height: 50vh">
          <!-- CAMPOS PARA EDIÇÃO -->
          <div class="col row justify-center q-pa-xs">
            <!-- DATA DE INICIO -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.first_date"
              unmasked-value
              mask="##/##/####"
              label="DATA DE PARTIDA"
              ref="first_date"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxyfirst_date"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      color="green-10"
                      :options="first_date"
                      v-model="myLocale.first_date"
                      :locale="myLocale"
                      mask="MM/DD/YYYY"
                      @input="() => $refs.qDateProxyfirst_date.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <!-- DATE DE TERMINO -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.last_date"
              unmasked-value
              mask="##/##/####"
              label="DATA DE CHEGADA"
              ref="last_date"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxylast_date"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      color="green-10"
                      :options="last_date"
                      v-model="myLocale.last_date"
                      :locale="myLocale"
                      mask="MM/DD/YYYY"
                      @input="() => $refs.qDateProxylast_date.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <!-- PRIMEIRO RESPOSÁVEL -->
            <div class style="font-size:14pt;width:100%">
              <q-icon name="label_important" class="text-orange-10 q-mr-xs" size="14pt"></q-icon>
              <b class="text-grey-9">1º Responsável (Obrigatório)</b>
            </div>
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.primary_name"
              label="NOME"
              ref="primary_name"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>

            <!-- CPF PRIMEIRO RESPOSÁVEL -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.primary_CPF"
              label="CPF"
              unmasked-value
              mask="###.###.###-##"
              ref="primary_CPF"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>

            <!-- SEGUNDO RESPOSÁVEL -->
            <div class style="font-size:14pt;width:100%">
              <q-icon name="label_important" class="text-orange-10 q-mr-xs" size="14pt"></q-icon>
              <b class="text-grey-9">2º Responsável</b>
            </div>
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.second_name"
              label="NOME"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>

            <!-- CPF SEGUNDO RESPOSÁVEL -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.second_CPF"
              label="CPF"
              unmasked-value
              mask="###.###.###-##"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            color="red-10"
            @click="closeModalReportAutorization()"
            unelevated
          />
          <q-btn
            class="q-ma-xs"
            label="GERAR"
            color="blue-10"
            @click="GenerateAutorization()"
            unelevated
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import moment from "moment";
import { required, minLength, between } from "vuelidate/lib/validators";
export default {
  // props: {
  //   value: null
  // },
  data() {
    return {
      title: "EVENTO",
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado".split("_"),
        daysShort: "Dom_Seg_Ter_Qua_Qui_Sex_Sáb".split("_"),
        months: "Janeiro_Fevereiro_Março_Abril_Maio_Junho_Júlio_Agosto_Setembro_Outubro_Novembro_Dezembro".split(
          "_"
        ),
        monthsShort: "Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez".split(
          "_"
        ),
        firstDayOfWeek: 1,
        first_date: null,
        last_date: null
      },
      desktopMargin: this.$q.platform.is.desktop,
      event: null,
      activities: [],
      activityValue: {
        title: null,
        event_id: null,
        total_teams: 0,
        rank: 0,
        modality_id: null,
        limit_athletes: 0
      },
      modalSetActivity: false,
      typeSave: null,
      modalSelectedModality: false,
      modalitysArray: [],
      allModalitys: [],
      lastModalitySelected: {},
      modalitySelectedID: {},
      tabEvent: "activities",
      modalReportAutorization: false,
      reportAutorizationValue: {
        first_date: null,
        last_date: null,
        responsible: {
          primary_name: null,
          primary_CPF: null,
          second_name: null,
          second_CPF: null
        }
      }
    };
  },
  mounted: function() {
    this.titleEmit();
    this.getActivities();
  },
  created() {
    this.event = JSON.parse(localStorage.event);
  },
  watch: {
    //OBSERVANDO POPUP DE CALENDÁRIO PARA ADICIONAR O VALOR SELECIONADO NO IMPUT DE DATA
    tabEvent() {
      if (this.tabEvent == "event") {
        this.title = "SOBRE O EVENTO";
      } else if (this.tabEvent == "activities") {
        this.title = "MODALIDADES";
      } else {
        this.title = "RELATÓRIOS";
      }
    },
    title() {
      this.titleEmit();
    },
    "myLocale.first_date"() {
      this.reportAutorizationValue.first_date = moment(
        this.myLocale.first_date,
        "MM/DD/YYYY"
      ).format("DDMMYYYY");
    },
    "myLocale.last_date"() {
      this.reportAutorizationValue.last_date = moment(
        this.myLocale.last_date,
        "MM/DD/YYYY"
      ).format("DDMMYYYY");
    }
  },
  methods: {
    first_date(date) {
      let atu = new Date();
      atu = moment(atu, "MM/DD/YYYY").format("YYYY/MM/DD");
      return date >= atu;
    },
    last_date(date) {
      let atu = this.myLocale.first_date;
      atu = moment(atu, "MM/DD/YYYY").format("YYYY/MM/DD");
      return date >= atu;
    },
    //Abrir tela de atletas cadastrados para uma determinada atividade selecionada
    athletesActivity(item) {
      this.$router.push({
        name: "atletasName"
      });
      localStorage.activity = JSON.stringify(item);
    },

    // Abrir modal para edição de uma atividade cadastrada
    opemUpdateActivityModal(item) {
      this.activityValue = {
        id: item.id,
        title: item.title,
        event_id: item.event_id,
        total_teams: item.total_teams,
        rank: item.rank,
        modality_id: item.modality_id,
        limit_athletes: item.limit_athletes
      };
      if (item.modality_id != null) {
        this.$axios
          .get(
            `${process.env.API}/modality/getModality/${this.activityValue.modality_id}`
          )
          .then(res => {
            this.modalitySelectedID = res.data;
          })
          .catch(err => {});
      }
      this.typeSave = "edit";
      this.modalSetActivity = true;
    },
    //Salvar/Editar atividade
    saveActivity() {
      let files = null;
      this.activityValue.modality_id = this.modalitySelectedID.id;
      this.activityValue.event_id = this.event.id;
      let fd = new FormData();
      fd.append("value", JSON.stringify(this.activityValue));
      fd.append("img", files);
      if (this.typeSave == "new") {
        this.$axios
          .post(`${process.env.API}/activities/setActivity`, fd)
          .then(res => {
            this.getActivities();
            this.closeActivityDialog();
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar Dados! Informe o desenvolvedor"
            });
          });
      } else if (this.typeSave == "edit") {
        this.$axios
          .post(`${process.env.API}/activities/updateActivity`, fd)
          .then(res => {
            this.getActivities();
            this.closeActivityDialog();
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar Dados! Informe o desenvolvedor"
            });
          });
      }
    },
    //Cancelar seleção da modalidade
    delModalitySelected() {
      this.modalitySelectedID = {};
    },
    //Abrir modal de seleção das modalidades
    opemSelectModality() {
      this.modalitySelectedID = {};
      this.getModalitys();
      this.modalSelectedModality = true;
    },
    //Fechar modal de seleção de modalidades
    closeModalityModal() {
      this.lastModalitySelected = {};
      this.modalSelectedModality = false;
    },
    //Salvar seleção de modalidade
    saveModalityModal() {
      this.closeModalityModal();
    },
    //Ao selecionar uma modalidade
    modalitySelectedItem(item) {
      if (this.filterModality(item.id)) {
        this.lastModalitySelected = item;
      } else if (item.id == this.modalitySelectedID.id) {
        this.modalitySelectedID = 0;
      } else {
        this.modalitySelectedID = item;
      }
    },
    //Emitir título da tela da atividade
    titleEmit() {
      this.$emit("title", this.title);
    },
    //voltar para ultima modalidade selecinada
    undoModalitySelected() {
      this.filterModality(this.lastModalitySelected.modality_id);
      this.getModalityID(this.lastModalitySelected.modality_id);
    },

    //Buscar Atividades cadastradas
    getActivities() {
      this.$axios
        .get(`${process.env.API}/activities/getActivities/${this.event.id}`)
        .then(res => {
          this.activities = res.data.data;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },
    //filtrar modalidades buscadas na API
    filterModality(id) {
      let filter = this.allModalitys.filter(function(item) {
        if (item.modality_id == id) {
          return item;
        }
      });
      if (filter != "") {
        this.modalitysArray = filter;
        return true;
      } else {
        return false;
      }
    },
    //Buscar Modalidades cadastradas
    getModalityID(ID) {
      if (ID != 0) {
        this.$axios
          .get(`${process.env.API}/modality/getModality/${ID}`)
          .then(res => {
            res.data.modality_id = res.data.modality_id.id;
            if (res.data.modality_id == null) {
              res.data.modality_id = 0;
            }
            this.lastModalitySelected = res.data;
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar! Informe o desenvolvedor"
            });
          });
      } else {
        this.lastModalitySelected = {};
      }
    },
    //Buscar Modalidades cadastradas
    getModalitys() {
      this.$axios
        .get(`${process.env.API}/modality/getModalitys`)
        .then(res => {
          this.allModalitys = res.data;
          // modality_id
          this.filterModality(0);
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    // Abrir dialog de cadastro de atividades
    openNewActivity() {
      this.modalSetActivity = true;
      this.typeSave = "new";
    },

    // Fechar dialog de cadastro/edição de atividades
    closeActivityDialog() {
      this.modalSetActivity = false;
      this.typeSave = null;
      this.clearActivityValue();
      this.modalitySelectedID = {};
    },

    //Limpar dados dos campos de edição/cadastro
    clearActivityValue() {
      this.activityValue = {
        title: null,
        event_id: null,
        image: null,
        total_teams: null,
        rank: null,
        modality_id: null,
        limit_athletes: 0
      };
    },

    //FORÇAR DOWNLOAD DE DOCUMENTOS VINDO DA API
    forceFileDownload(response, name) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", name);

      document.body.appendChild(link);
      link.click();
    },

    //Baixar relatório Geral de atletas e modalidades
    downloadGeneral() {
      this.$axios
        .get(`${process.env.API}/reports/getReportGeneral/${this.event.id}`, {
          responseType: "arraybuffer"
        })
        .then(res => {
          this.forceFileDownload(
            res,
            "Relatório_geral_atletas_modalidades_evento_" +
              this.event.title +
              ".pdf"
          );
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "SEU ARQUIVO JÁ ESTÁ SENDO BAIXADO!"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    //Abrir modal para geração do relatório de Autorização
    opemModalReportAutorization() {
      this.modalReportAutorization = true;
    },

    //fechar modal de geração do relatório de autorização
    closeModalReportAutorization() {
      this.clearValueAutorization();
      this.modalReportAutorization = false;
    },

    //Gerar Relatório de autorização para os alunos menores de idade
    GenerateAutorization() {
      this.$refs.first_date.validate();
      this.$refs.last_date.validate();
      this.$refs.primary_name.validate();
      this.$refs.primary_CPF.validate();
      if (
        this.$refs.first_date.hasError ||
        this.$refs.last_date.hasError ||
        this.$refs.primary_name.hasError ||
        this.$refs.primary_CPF.hasError
      ) {
        this.$refs.formHasError = true;
      } else {
        this.$axios
          .post(
            `${process.env.API}/reports/getReportAutorization/${this.event.id}`,
            this.reportAutorizationValue,
            {
              responseType: "arraybuffer"
            }
          )
          .then(res => {
            this.forceFileDownload(
              res,
              "Autorização_geral_atletas_evento_" + this.event.title + ".pdf"
            );
            this.closeModalReportAutorization();
            console.log(res.data);
            this.$q.notify({
              color: "green-8",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "SEU ARQUIVO JÁ ESTÁ SENDO BAIXADO!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar! Informe o desenvolvedor"
            });
          });
      }
    },
    //Gerar Relatório de Presença de passageiros para motoristas
    downloadReportPassagers() {
      this.$axios
        .get(`${process.env.API}/reports/getReportPassagers/${this.event.id}`, {
          responseType: "arraybuffer"
        })
        .then(res => {
          this.forceFileDownload(
            res,
            "Relatório_geral_atletas_presentes_viagens_evento_" +
              this.event.title +
              ".pdf"
          );
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "SEU ARQUIVO JÁ ESTÁ SENDO BAIXADO!"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    clearValueAutorization() {
      this.reportAutorizationValue = {
        first_date: null,
        last_date: null,
        responsible: {
          primary_name: null,
          primary_CPF: null,
          second_name: null,
          second_CPF: null
        }
      };
    }
  }
};
</script>

<style>
.descCard {
  opacity: 0.9 !important;
  color: white !important;
  background-color: rgb(0, 20, 1) !important;
}
.my-card-activity {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
.modalityCard .my-card-activity:hover {
  background-color: rgb(13, 161, 0) !important;
  /* box-shadow: 2px 2px 5px rgb(129, 129, 129); */
  transition: 0.2s;
}

.my-card-activity:hover .destaque {
  background-color: rgb(13, 161, 0) !important;
  transition: 0.2s;
}
.my-card-select-Modality {
  cursor: pointer;
}
.my-card-select-Modality:hover {
  /* box-shadow: 1px 1px 3px rgb(129, 129, 129); */
  opacity: 0.8;
  transition: 0.2s;
}
.my-card-select-Modality:hover .destaque2 {
  background-color: rgb(13, 161, 0) !important;
  transition: 0.2s;
  height: 8px !important;
  margin-top: -4px !important;
}
.my-card-select-Modality:hover .destaque {
  background-color: rgb(13, 161, 0) !important;
  transition: 0.2s;
}
.selectOptionModality {
  width: 50px !important;
  position: absolute;
  top: 15px;
}
.selectModality {
  background: rgb(250, 255, 250);
  opacity: 0.5;
}

.courseHover:hover {
  opacity: 0.8;
}
</style>