<template>
  <q-page>
    <div>
      <q-tabs
        v-model="tabActivity"
        class="text-grey-9 bg-indigo-1"
        active-color="orange-10"
        indicator-color="orange-10"
        align="center"
        narrow-indicator
      >
        <q-tab name="athletes" label="ATLETAS" icon="event" />
        <q-tab name="activity" label="SOBRE A MODALIDADE" icon="event" />
        <!-- <q-tab name="management" label="GERENCIAMENTO" icon="data_usage" /> -->
      </q-tabs>

      <!-- <q-separator /> -->

      <q-tab-panels v-model="tabActivity" animated>
        <q-tab-panel name="activity" style="background:#F8F8FF !important">
          <!-- APRESENTAR AMOSTRA DA ATIVIDADE SELECIONADA -->
          <div class="row">
            <div class="col-12 row infoActivity bg-blue-grey-7">
              <div class="col-3">
                <div class="bg-white row justify-center flex-center" style="height:100% !important">
                  <img :src="'data:image/png;base64,'+activity.image" />
                </div>
              </div>
              <div class="col-5 q-pa-md" style="font-size:17px">
                <div class="text-white">
                  <b class="q-pr-sm text-blue-grey-2">NOME DA MODALIDADE:</b>
                  <b>{{activity.title}}</b>
                </div>
                <div class="text-white">
                  <b class="q-pr-sm text-blue-grey-2">TOTAL DE EQUIPES:</b>
                  <b>{{activity.total_teams}} equipes</b>
                </div>
                <div class="text-white">
                  <b class="q-pr-sm text-blue-grey-2">COLOCAÇÃO NO RANK:</b>
                  <b>{{activity.rank}}º lugar</b>
                </div>
                <div class="text-white">
                  <b class="q-pr-sm text-blue-grey-2">LIMITE DE ATLETAS:</b>
                  <b>{{activity.limit_athletes}} atletas</b>
                </div>
              </div>
              <div class="col-3 row justify-end items-end q-mb-xs">
                <div class="q-pr-xl">
                  <q-btn
                    unelevated
                    rounded
                    color="blue-grey-5"
                    label="Editar Classificação"
                    @click="opemModalClassification"
                  />
                </div>
              </div>
              <div class="col-1 q-pr-md row justify-end">
                <q-avatar
                  size="150px"
                  font-size="52px"
                  text-color="white"
                  style="background:#F8F8FF !important"
                >
                  <q-img v-if="activity.rank == 1" style="width:100px" src="../img/1position.png"></q-img>
                  <q-img
                    v-else-if="activity.rank == 2"
                    style="width:100px"
                    src="../img/2position.png"
                  ></q-img>
                  <q-img
                    v-else-if="activity.rank == 3"
                    style="width:100px"
                    src="../img/3position.png"
                  ></q-img>
                  <q-img v-else-if="activity.rank > 3" src="../img/1pos.png"></q-img>
                </q-avatar>
              </div>
            </div>

            <div class="bg-blue-grey-4 destaque" style="width:100%;height:4px"></div>
          </div>
        </q-tab-panel>
        <q-tab-panel name="athletes" style="background:#F8F8FF !important">
          <!-- BOTÃO DE ADICIONAR NOVO ATLETA -->
          <div class="row justify-between" style="width:100%">
            <q-btn
              class="q-ma-md text-green-10"
              unelevated
              outline
              icon="data_usage"
              label="RELATÓRIOS DA MODALIDADE"
              @click="dialogReportOpen = true"
            />
            <q-btn
              class="q-ma-md bg-green-10 text-white"
              unelevated
              icon-right="add"
              label="ADICIONAR ATLETA"
              @click="opemSetAthlete()"
            />
          </div>

          <div class="row q-pa-md">
            <q-card
              class="row my-card q-ma-xs shadow-1 courseHover"
              style="width:200px"
              v-for="athlete in athletesArray"
              :key="athlete.id"
            >
              <div class="bg-blue-grey-10 barraSup" style="width:100%;height:3px"></div>
              <div class="col-11 q-pa-xs row justify-center">
                <q-avatar class="bg-grey-3" size="100px">
                  <img :src="'data:image/png;base64,'+athlete.student_id.image" />
                </q-avatar>
              </div>
              <div class="col-1 row justify-end content-start">
                <q-btn
                  unelevated
                  flat
                  style="width:50%"
                  color="red-10"
                  icon="delete"
                  @click="deleteAthlete(athlete)"
                />
              </div>
              <div class="col-12 row justify-center">
                <b
                  class="col-12 text-blue-grey-9 row justify-center"
                  style="font-size:15px;text-align:center"
                >{{athlete.student_id.first_name+' '+athlete.student_id.last_name}}</b>
                <b
                  class="col-12 text-orange-10 row justify-center"
                  style="font-size:15px;text-align:center"
                >CPF: {{athlete.student_id.CPF}}</b>
              </div>
            </q-card>
          </div>
        </q-tab-panel>
        <!-- <q-tab-panel name="management" class="row" style="background:#F8F8FF !important">
          
        </q-tab-panel>-->
      </q-tab-panels>
    </div>

    <!-- DIALOG PARA EDITAR CLASSIFICAÇÃO DO TIME NA MODALIDADE/ATIVIDADE CADASTRADA -->
    <q-dialog v-model="modalUpdateClassification" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">EDITAR CLASSIFICAÇÃO</div>
        </q-card-section>
        <q-card-section class="scroll row" style="max-height: 50vh">
          <!-- CAMPOS PARA EDIÇÃO -->
          <div class="col row justify-center q-pa-xs">
            <div class="text-green-10">Posição na Classificação</div>
            <div>
              <q-input
                input-class="text-center text-green-10"
                color="green-10"
                outlined
                v-model="valueClassification.rank"
                style="font-size:40px"
                type="number"
              />
            </div>
          </div>
          <div class="col-1 row justify-center flex-center q-mt-md text-blue-10">DE</div>
          <div class="col row justify-center q-pa-xs">
            <div class="text-red-10">Total de Equipes Competidoras</div>
            <div>
              <q-input
                color="red-10"
                input-class="text-center text-red-10"
                outlined
                v-model="valueClassification.total_teams"
                style="font-size:40px"
                type="number"
              />
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            @click="closeModalClassification()"
            color="red-10"
            unelevated
          />
          <q-btn
            class="q-ma-xs"
            label="SALVAR"
            color="blue-10"
            unelevated
            @click="saveClassification()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="dialogReportOpen"
      persistent
      full-width
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-grey-1 text-white">
        <div class="bg-teal flex flex-center" style="min-height:75px;width:100%">
          <div style="font-size:20px">
            <b>RELATÓRIOS DA MODALIDADE</b>
          </div>
        </div>
        <div class="bg-teal-4" style="width:100%; height:10px"></div>
        <q-card-section class="scroll" style="max-height: 75vh;min-height:75vh">
          <div class="row">
            <q-card
              class="my-card bg-blue-grey-8 text-white courseHover"
              style="max-width:250px;min-width:250px;"
              @click="downloadActivityAthletes()"
            >
              <q-card-actions class="row justify-end">
                <q-btn color="green shadow-0">
                  <div class="row items-center no-wrap">
                    <q-icon left name="cloud_download" />
                    <div class="text-center">Baixar</div>
                  </div>
                </q-btn>
                <!-- <q-btn flat>Action 2</q-btn> -->
              </q-card-actions>
              <q-card-section>
                <div class="text-h6">RELATÓRIO DE ATLETAS</div>
                <div class="text-subtitle2">(Atletas desta modalidade)</div>
              </q-card-section>
            </q-card>

            <q-card
              class="my-card bg-blue-grey-8 text-white q-ml-md courseHover"
              style="max-width:250px;min-width:250px"
              @click="opemModalReportAutorization()"
            >
              <q-card-actions class="row justify-end">
                <q-btn color="green shadow-0">
                  <div class="row items-center no-wrap">
                    <q-icon left name="map" />
                    <div class="text-center">Abrir</div>
                  </div>
                </q-btn>
                <!-- <q-btn flat>Action 2</q-btn> -->
              </q-card-actions>
              <q-card-section>
                <div class="text-h6">AUTORIZAÇÃO</div>
                <div class="text-subtitle2">(Para menores de idade desta modalidade)</div>
              </q-card-section>
            </q-card>

            <!-- DOCUMENTO DE VIAGENS PARA MOTORISTAS -->
            <q-card
              class="my-card bg-blue-grey-8 text-white q-ml-md courseHover"
              style="max-width:250px;min-width:250px"
              @click="downloadReportPassagers()"
            >
              <q-card-actions class="row justify-end">
                <q-btn color="green shadow-0">
                  <div class="row items-center no-wrap">
                    <q-icon left name="cloud_download" />
                    <div class="text-center">BAIXAR</div>
                  </div>
                </q-btn>
                <!-- <q-btn flat>Action 2</q-btn> -->
              </q-card-actions>
              <q-card-section>
                <div class="text-h6">PRESENÇA DE VIAGEM</div>
                <div class="text-subtitle2">(Para confirmar presença na viagem)</div>
              </q-card-section>
            </q-card>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            @click="dialogReportOpen = false"
            color="red-10"
            unelevated
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- DIALOG PARA CADASTRAR ATLETA NA ATIVIDADE -->
    <q-dialog
      v-model="dialogSetAtlhete"
      persistent
      full-width
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-grey-1 text-white">
        <div class="bg-teal flex flex-center" style="min-height:75px;width:100%">
          <div style="font-size:20px">
            <b>SELECIONAR ATLETAS</b>
          </div>
        </div>
        <div class="bg-teal-4" style="width:100%; height:10px"></div>
        <q-card-section class="scroll" style="max-height: 55vh;min-height: 55vh">
          <div class="row col-12 q-pa-md">
            <!-- 
            v-model="search"-->
            <q-input
              class="q-pl-sm q-pr-sm col-5"
              rounded
              v-model="filter"
              color="teal-4"
              outlined
              placeholder="PESQUISAR"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="col-12 row q-pa-md">
            <!-- MOSTRAR ESTUDANTES -->
            <div
              class="row my-card shadow-1 q-ml-sm my-card-student"
              style="width:200px"
              v-for="student in filteredItems"
              :key="student.id"
              v-show="student.visible"
              @click="selectStudent(student)"
            >
              <div class="col-9 q-pl-xl q-pa-xs row justify-center">
                <q-avatar class="bg-grey-3" size="80px">
                  <img :src="'data:image/png;base64,'+student.image" />
                </q-avatar>
              </div>
              <div class="col">
                <q-checkbox
                  disable
                  v-model="atlhetesSelected"
                  :val="student"
                  color="orange-10"
                  :ref="'studentRef'"
                />
              </div>
              <div class="col-12 row justify-center">
                <b
                  class="col-12 text-blue-grey-9 row justify-center"
                  style="font-size:15px"
                >{{student.first_name+' '+student.last_name}}</b>
                <b
                  class="col-12 text-orange-10 row justify-center"
                  style="font-size:15px"
                >CPF: {{student.CPF}}</b>
              </div>
            </div>
            <!-- FIM MOSTRAR ESTUDANTES -->
          </div>
        </q-card-section>
        <q-card-section
          class="scroll bg-grey-3 q-pa-none"
          style="max-height: 25vh;min-height: 25vh"
        >
          <div
            class="col-12 q-mb-xs bg-blue-grey-10 q-pa-xs"
            style="font-size:18px;"
          >ATLETAS SELECIONADOS:</div>
          <div class="row col-12">
            <div class="row" style="max-height:85px">
              <div
                class="q-pl-xs q-pr-xs flex flex-center shadow-1 bg-white q-ma-xs"
                v-for="student in atlhetesSelected"
                :key="student.id"
                style="border-radius:30px 30px 30px 30px"
              >
                <div class="q-pa-xs row justify-center">
                  <q-avatar class="bg-grey-3" size="50px">
                    <img :src="'data:image/png;base64,'+student.image" />
                  </q-avatar>
                </div>
                <div class="row justify-center">
                  <b
                    class="text-blue-grey-9 row justify-center"
                    style="font-size:15px"
                  >{{student.first_name+' '+student.last_name}}</b>
                </div>
                <div class>
                  <q-btn flat @click="deleteSelected(student)">
                    <q-icon name="close" color="red-10" size="18pt" />
                  </q-btn>
                </div>
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            @click="closeModalAthletes()"
            color="red-10"
            unelevated
          />
          <q-btn
            class="q-ma-xs"
            label="SALVAR"
            @click="setNewAthletes()"
            color="blue-10"
            unelevated
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modalReportAutorization" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">GERAR AUTORIZAÇÃO</div>
        </q-card-section>
        <q-card-section class="scroll row" style="max-height: 50vh">
          <!-- CAMPOS PARA EDIÇÃO -->
          <div class="col row justify-center q-pa-xs">
            <!-- DATA DE INICIO -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.first_date"
              unmasked-value
              mask="##/##/####"
              label="DATA DE PARTIDA"
              ref="first_date"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxyfirst_date"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      color="green-10"
                      :options="first_date"
                      v-model="myLocale.first_date"
                      :locale="myLocale"
                      mask="MM/DD/YYYY"
                      @input="() => $refs.qDateProxyfirst_date.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <!-- DATE DE TERMINO -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.last_date"
              unmasked-value
              mask="##/##/####"
              label="DATA DE CHEGADA"
              ref="last_date"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxylast_date"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      color="green-10"
                      :options="last_date"
                      v-model="myLocale.last_date"
                      :locale="myLocale"
                      mask="MM/DD/YYYY"
                      @input="() => $refs.qDateProxylast_date.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <!-- PRIMEIRO RESPOSÁVEL -->
            <div class style="font-size:14pt;width:100%">
              <q-icon name="label_important" class="text-orange-10 q-mr-xs" size="14pt"></q-icon>
              <b class="text-grey-9">1º Responsável (Obrigatório)</b>
            </div>
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.primary_name"
              label="NOME"
              ref="primary_name"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>

            <!-- CPF PRIMEIRO RESPOSÁVEL -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.primary_CPF"
              label="CPF"
              unmasked-value
              mask="###.###.###-##"
              ref="primary_CPF"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>

            <!-- SEGUNDO RESPOSÁVEL -->
            <div class style="font-size:14pt;width:100%">
              <q-icon name="label_important" class="text-orange-10 q-mr-xs" size="14pt"></q-icon>
              <b class="text-grey-9">2º Responsável</b>
            </div>
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.second_name"
              label="NOME"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>

            <!-- CPF SEGUNDO RESPOSÁVEL -->
            <q-input
              class="col-5 on-left"
              color="orange-10"
              v-model="reportAutorizationValue.responsible.second_CPF"
              label="CPF"
              unmasked-value
              mask="###.###.###-##"
            >
              <template v-slot:prepend>
                <q-icon name="person_pin" />
              </template>
            </q-input>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            color="red-10"
            @click="closeModalReportAutorization()"
            unelevated
          />
          <q-btn
            class="q-ma-xs"
            label="GERAR"
            color="blue-10"
            @click="GenerateAutorization()"
            unelevated
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado".split("_"),
        daysShort: "Dom_Seg_Ter_Qua_Qui_Sex_Sáb".split("_"),
        months: "Janeiro_Fevereiro_Março_Abril_Maio_Junho_Júlio_Agosto_Setembro_Outubro_Novembro_Dezembro".split(
          "_"
        ),
        monthsShort: "Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez".split(
          "_"
        ),
        firstDayOfWeek: 1,
        first_date: null,
        last_date: null
      },
      activity: {},
      event: {},
      modalUpdateClassification: false,
      valueClassification: {},
      athletesArray: [],
      dialogSetAtlhete: false,
      studentsArray: [],
      atlhetesSelected: [],
      filter: "",
      tabActivity: "athletes",
      title: "MODALIDADE",
      modalReportAutorization: false,
      reportAutorizationValue: {
        first_date: null,
        last_date: null,
        responsible: {
          primary_name: null,
          primary_CPF: null,
          second_name: null,
          second_CPF: null
        }
      },
      dialogReportOpen: false
    };
  },
  watch: {
    tabActivity() {
      if (this.tabActivity == "activity") {
        this.title = "SOBRE A MODALIDADE";
      } else if (this.tabActivity == "athletes") {
        this.title = "ATLETAS";
      } else {
        this.title = "GERENCIAMENTO";
      }
    },
    "myLocale.first_date"() {
      this.reportAutorizationValue.first_date = moment(
        this.myLocale.first_date,
        "MM/DD/YYYY"
      ).format("DDMMYYYY");
    },
    "myLocale.last_date"() {
      this.reportAutorizationValue.last_date = moment(
        this.myLocale.last_date,
        "MM/DD/YYYY"
      ).format("DDMMYYYY");
    },
    title() {
      this.titleEmit();
    },
    atlhetesSelected(newValue, oldValue) {
      let count = 0;
      this.athletesArray.forEach(el => {
        count = count + 1;
      });
      this.atlhetesSelected.forEach(el => {
        count = count + 1;
      });
      console.log(this.event);
      if (
        count > this.activity.limit_athletes &&
        this.event.type_game == "OFICIAL"
      ) {
        this.atlhetesSelected = oldValue;
        this.atlhetesSelected.splice(
          this.atlhetesSelected.indexOf(newValue),
          1
        );
        this.msglimitAthletes(this.activity.limit_athletes);
      }
    }
  },
  created() {
    this.activity = JSON.parse(localStorage.activity);
    this.event = JSON.parse(localStorage.event);
    this.getAthletes();
  },
  computed: {
    //FILTRO PARA O CAMPO DE PESQUISA DE ALUNOS (ESTUDANTES)
    filteredItems() {
      let send = this;
      return this.studentsArray.filter(function(item) {
        let item_name = item.first_name + " " + item.last_name;
        if (item_name.toUpperCase().indexOf(send.filter.toUpperCase()) > -1) {
          return item;
        } else if (item.CPF.indexOf(send.filter) > -1) {
          return item;
        }
      });
    }
  },
  methods: {
    first_date(date) {
      let atu = new Date();
      atu = moment(atu, "MM/DD/YYYY").format("YYYY/MM/DD");
      return date >= atu;
    },
    last_date(date) {
      let atu = this.myLocale.first_date;
      atu = moment(atu, "MM/DD/YYYY").format("YYYY/MM/DD");
      return date >= atu;
    },
    titleEmit() {
      this.$emit("title", this.title);
    },
    selectStudent(item) {
      let cont = 0;
      this.atlhetesSelected.forEach(el => {
        if (el.id == item.id) {
          cont = cont + 1;
          this.atlhetesSelected.splice(this.atlhetesSelected.indexOf(item), 1);
        }
      });
      if (cont == 0) {
        this.atlhetesSelected.push(item);
      }
    },
    msglimitAthletes(totalLimit) {
      this.$q
        .dialog({
          title: "ATENÇÃO",
          message:
            "<b style='color:black'>LIMITE MÁXIMO DE ALUNOS É [" +
            totalLimit +
            "] E FOI ALCANÇADO!</b><hr/><i style='color:red'>ALTERE O LIMITE NO CADASTRO DE ATIVIDADES, CASO NECESSÁRIO!</i>",
          html: true,
          ok: {
            unelevated: true,
            color: "blue-10",
            label: "OK"
          }
        })
        .onOk(() => {});
    },

    //excluir atleta selecionado
    deleteSelected(item) {
      this.atlhetesSelected.splice(this.atlhetesSelected.indexOf(item), 1);
    },
    // Abrir modal para adicionar atletas
    opemSetAthlete() {
      this.getStudents();

      this.dialogSetAtlhete = true;
    },
    //fechar modal de cadastro de atletas
    closeModalAthletes() {
      this.atlhetesSelected = [];
      this.studentsArray = [];
      this.dialogSetAtlhete = false;
    },
    //Ao clicar em salvar no cadastro de atletas
    setNewAthletes() {
      let value = [];
      this.atlhetesSelected.forEach(el => {
        value.push({ student_id: el.id, activity_id: this.activity.id });
      });
      console.log(value);
      this.$axios
        .post(`${process.env.API}/athletes/setAthletes`, value)
        .then(res => {
          this.getStudents();
          this.getAthletes();
          this.closeModalAthletes();

          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "EDIÇÃO REALIZADA COM SUCESSO"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },
    // buscar estudantes cadastrados
    getStudents() {
      this.$axios
        .get(
          `${process.env.API}/student/getStudentsByActivity/${this.activity.id}`
        )
        .then(res => {
          this.studentsArray = res.data.data;
          // this.studentsArray = this.studentsArray.filter(function(stu) {

          //   console.log("sim");
          //   return stu;
          // });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    // Abrir modal de edição da classificação
    opemModalClassification() {
      this.modalUpdateClassification = true;
      this.valueClassification = {
        id: this.activity.id,
        rank: this.activity.rank,
        total_teams: this.activity.total_teams
      };
    },
    // Fechar modal de edição da classificação
    closeModalClassification() {
      this.modalUpdateClassification = false;
    },
    saveClassification() {
      let files = null;
      let fd = new FormData();
      fd.append("value", JSON.stringify(this.valueClassification));
      fd.append("img", files);
      this.$axios
        .post(`${process.env.API}/activities/updateActivity`, fd)
        .then(res => {
          this.activity.rank = res.data.rank;
          this.activity.total_teams = res.data.total_teams;
          localStorage.activity = JSON.stringify(this.activity);
          this.closeModalClassification();
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "EDIÇÃO REALIZADA COM SUCESSO"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    // Carregar dados dos atletas vinculados a atividade selecionada
    getAthletes() {
      this.$axios
        .get(`${process.env.API}/athletes/getAthletes/${this.activity.id}`)
        .then(res => {
          this.athletesArray = res.data.data;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    // Excluir atleta vinculado
    deleteAthlete(item) {
      this.$q
        .dialog({
          title: "CONFIRMAÇÃO",
          message:
            "<b style='font-size:15px'> DESEJA REALMENTE EXCLUIR O ALUNO: <br/>" +
            item.student_id.first_name +
            " " +
            item.student_id.last_name +
            " ? </b>",
          html: true,
          ok: {
            unelevated: true,
            color: "blue-10",
            label: "SIM"
          },
          cancel: {
            unelevated: true,
            color: "red-10",
            label: "NÃO"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .get(`${process.env.API}/athletes/deleteAthlete/${item.id}`)
            .then(res => {
              this.getAthletes();
              this.$q.notify({
                color: "green-7",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "EXCLUÍDO COM SUCESSO!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "Não Foi Possível Alterar! Há informações incorretas"
              });
            });
        })
        .onCancel(() => {})
        .onDismiss(() => {});
    },

    // Download relatório de alunos anexados a modalidade selecionada
    downloadActivityAthletes() {
      this.$axios
        .get(
          `${process.env.API}/reports/getReportActivityAthletes/${this.activity.id}`,
          {
            responseType: "arraybuffer"
          }
        )
        .then(res => {
          this.forceFileDownload(
            res,
            "Relatório_atletas_da_modalidade_" + this.activity.title + ".pdf"
          );
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "SEU ARQUIVO JÁ ESTÁ SENDO BAIXADO!"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },
    //FORÇAR DOWNLOAD DE DOCUMENTOS VINDO DA API
    forceFileDownload(response, name) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", name);

      document.body.appendChild(link);
      link.click();
    },
    //Abrir modal para geração do relatório de Autorização
    opemModalReportAutorization() {
      this.modalReportAutorization = true;
    },
    //fechar modal de geração do relatório de autorização
    closeModalReportAutorization() {
      this.clearValueAutorization();
      this.modalReportAutorization = false;
    },
    //Gerar Relatório de autorização para os alunos menores de idade
    GenerateAutorization() {
      this.$refs.first_date.validate();
      this.$refs.last_date.validate();
      this.$refs.primary_name.validate();
      this.$refs.primary_CPF.validate();
      if (
        this.$refs.first_date.hasError ||
        this.$refs.last_date.hasError ||
        this.$refs.primary_name.hasError ||
        this.$refs.primary_CPF.hasError
      ) {
        this.$refs.formHasError = true;
      } else {
        this.$axios
          .post(
            `${process.env.API}/reports/getReportActivityAutorization/${this.activity.id}`,
            this.reportAutorizationValue,
            {
              responseType: "arraybuffer"
            }
          )
          .then(res => {
            this.forceFileDownload(
              res,
              "autorização_atletas_modalidade_" + this.activity.title + ".pdf"
            );
            this.closeModalReportAutorization();
            console.log(res.data);
            this.$q.notify({
              color: "green-8",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "SEU ARQUIVO JÁ ESTÁ SENDO BAIXADO!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar! Informe o desenvolvedor"
            });
          });
      }
    },
    clearValueAutorization() {
      this.reportAutorizationValue = {
        first_date: null,
        last_date: null,
        responsible: {
          primary_name: null,
          primary_CPF: null,
          second_name: null,
          second_CPF: null
        }
      };
    },
    //Gerar Relatório de Presença de passageiros para motoristas
    downloadReportPassagers() {
      this.$axios
        .get(
          `${process.env.API}/reports/getReportActivityPassagers/${this.activity.id}`,
          {
            responseType: "arraybuffer"
          }
        )
        .then(res => {
          this.forceFileDownload(
            res,
            "Relatório_atletas_presentes_viagens_modalidade_" +
              this.activity.title +
              ".pdf"
          );
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "SEU ARQUIVO JÁ ESTÁ SENDO BAIXADO!"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    }
  }
};
</script>

<style>
.infoActivity {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
}
.my-card-student {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}

.my-card-student:hover {
  opacity: 0.8;
}
</style>