<template>
  <q-page>
    <div v-bind:class="{'q-pa-xl':desktopMargin, 'q-pa-xs':!desktopMargin}">
      <!-- CARD PARA ADICIONAR NOVO CURSO OU TURMA -->

      <q-card class="row shadow-1 q-mb-xl" style="opacity:0.8 !important">
        <div class="col-md-9 row justify-left q-pl-md items-center" style="font-size:20px">
          <div v-if="isShowClass">
            <q-btn
              round
              dense
              size="md"
              icon="arrow_back"
              unelevated
              color="green-10"
              class="q-mr-xs q-ml-xs"
              @click="closeClass()"
            />
          </div>
          <div>
            <b class="q-ml-md">{{titlePage}}</b>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 row justify-end">
          <q-btn
            color="secondary q-ma-md bg-green-10"
            unelevated
            icon-right="add"
            label="ADICIONAR CURSO"
            v-if="!isShowClass"
            @click="opemModalSetCourse()"
          />
          <q-btn
            color="secondary q-ma-md bg-green-10"
            unelevated
            icon-right="add"
            label="ADICIONAR TURMA"
            @click="opemModalSetClass(classModel)"
            v-if="isShowClass"
          />
        </div>
      </q-card>

      <div class="row" v-bind:class="{'justify-center':!desktopMargin}" v-if="!isShowClass">
        <!-- CARD PARA APRESENTAR OS CURSOS CADASTRADOS -->

        <q-card
          class="my-card q-ma-xs shadow-1 row courseHover"
          v-for="item in courses"
          :key="item.id"
        >
          <div class="bg-blue-grey-10 barraSup" style="width:100%;height:3px"></div>
          <div class="col-11 q-pa-xs row justify-center" @click="showClass(item)">
            <q-avatar class="bg-grey-3" size="100px">
              <img :src="'data:image/png;base64,'+item.image" />
            </q-avatar>
          </div>
          <div class="col-1 row justify-end content-start">
            <!-- <div class="col-12 row justify-center"> -->
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="orange-10"
              icon="edit"
              @click="opemModalUpdateCourse(item)"
            />
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="red-10"
              icon="delete"
              @click="deleteCourse(item)"
            />
          </div>
          <div class="col-12 row justify-center q-pa-xs" @click="showClass(item)">
            <b
              class="col-12 text-blue-grey-9 flex flex-center"
              style="font-size:15px;text-align:center"
            >{{item.title}}</b>
          </div>
        </q-card>
      </div>

      <!-- CARD PARA APRESENTAR AS TURMAS CADASTRADAS PARA DETERMINADO CURSO, CLICADO ANTERIORMENTE -->

      <q-card class="row shadow-1" style="opacity:0.8 !important" v-if="isShowClass">
        <div class="col-md-1 col-xs-3 bg-grey-4 q-pa-xs row">
          <div class="col-md-12 col-xs-12 row justify-center">
            <q-avatar size="70px" class="shadow-1">
              <img :src="'data:image/png;base64,'+classModel.image" />
            </q-avatar>
          </div>
        </div>
        <div
          class="col-md-11 col-xs-9 q-pl-xs text-white row justify-center content-center bg-teal-10"
          style="font-size:22px"
        >{{classModel.title}}</div>
        <div class="row q-pa-md" style="width:100%" v-if="classModel.class != 0">
          <q-item
            v-for="classModelItem in classModel.class"
            :key="classModelItem.id"
            clickable
            v-ripple
            style="width:100% !important;font-size:18px"
            class="bg-grey-1 shadow-1 q-mt-xs"
          >
            <q-item-section>
              <q-item-label>{{classModelItem.title}}</q-item-label>
            </q-item-section>
            <div class="row justify-end">
              <q-btn
                unelevated
                flat
                round
                color="orange-10"
                icon="edit"
                @click="opemModalUpdateClass(classModelItem)"
              />
              <q-btn
                unelevated
                flat
                round
                color="red-10"
                icon="delete"
                @click="deleteClassModel(classModelItem)"
              />
            </div>
          </q-item>
        </div>
        <div
          class="row q-pa-md row justify-center text-orange-10"
          style="width:100%;text-shadow:0.1px 0.1px 0.8px black"
          v-else
        >AINDA NÃO EXISTE TURMAS CADASTRADAS</div>
      </q-card>
    </div>

    <!-- DIALOG PARA CADASTRAR/EDITAR UM CURSO -->

    <q-dialog v-model="modalSetCourse" persistent>
      <q-card style="min-width: 350px;max-Width:400px !important;">
        <q-card-section class="row justify-center">
          <div class="text-h6 text-teal-10">NOVO CURSO</div>
        </q-card-section>
        <q-card-section class="scroll" style="max-height: 50vh">
          <q-input
            color="teal-10"
            type="text"
            dense
            v-model="valueCourse.title"
            autofocus
            ref="title"
            label="NOME DO CURSO"
            :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
          />
          <q-separator class="q-mt-md" />
          <div class="row justify-center q-pt-md" style="width:100%">
            <q-uploader
              accept=".jpg, image/*"
              class="shadow-0"
              color="white"
              style="max-width: 300px;min-width:100%"
              ref="filesCourse"
              @added="newImage"
            >
              <template v-slot:header="scope">
                <div class="row">
                  <div
                    class="col-10 text-h6 text-grey-7 q-ml-md flex content-center"
                  >IMAGEM DO CURSO</div>
                  <div class="col-1 row justify-end">
                    <q-btn class="bg-red" style="font-size:20px" type="a" dense flat icon="edit">
                      <div class="row justify-end"></div>
                      <q-uploader-add-trigger />
                      <q-tooltip>Adicionar Imagem</q-tooltip>
                    </q-btn>
                  </div>
                </div>
              </template>
              <template v-slot:list="scope">
                <q-list separator>
                  <div class="row justify-center" v-if="scope.canAddFiles">
                    <q-avatar size="150px" class="bg-grey-4">
                      <img
                        :src="'data:image/png;base64,'+valueCourse.image"
                        v-if="typeSave == 'edit' || typeSave == 'visul'"
                      />
                      <img src="../img/default.jpg" v-else-if="typeSave == 'new'" />
                    </q-avatar>
                  </div>
                  <div class="row justify-center">
                    <q-avatar size="150px" class="bg-grey-4" v-if="scope.files[0] != undefined">
                      <img :src="scope.files[0].__img.src" />
                    </q-avatar>
                  </div>
                </q-list>
              </template>
            </q-uploader>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            color="red-10"
            unelevated
            @click="closeModalSetCourse()"
          />
          <q-btn
            class="q-ma-xs"
            label="SALVAR"
            color="blue-10"
            unelevated
            @click="saveEditSetCourse()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- DIALOG PARA CADASTRAR/EDITAR UMA TURMA -->

    <q-dialog v-model="modalSetClass" persistent>
      <q-card style="min-width: 350px;max-Width:400px !important;">
        <q-card-section class="row justify-center">
          <div class="text-h6 text-teal-10">NOVA TURMA</div>
        </q-card-section>
        <q-card-section class="scroll" style="max-height: 50vh">
          <q-input
            color="teal-10"
            type="text"
            dense
            v-model="valueClass.title"
            autofocus
            label="NOME DA TURMA"
            ref="titleClass"
            :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
          />
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            color="red-10"
            @click="closeModalSetClass()"
            unelevated
          />
          <q-btn
            class="q-ma-xs"
            label="SALVAR"
            color="blue-10"
            @click="saveEditSetClass()"
            unelevated
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      title: "CURSOS E TURMAS",
      desktopMargin: this.$q.platform.is.desktop,
      courses: [],
      classModel: [],
      valueClass: {
        title: null,
        course_id: null
      },
      valueCourse: {
        title: null
      },
      modalSetClass: false,
      modalSetCourse: false,
      typeSave: null,
      isShowClass: false,
      titlePage: "CURSOS"
    };
  },
  mounted() {
    this.$axios.defaults.headers.common[
      "Authorization"
    ] = `Bearer ${localStorage.token}`;
    this.initialize();
    this.titleEmit();
  },
  methods: {
    //LIMITAR O CAMPO DE IMAGENS PARA CADASTRAR SOMENTE UMA ÚNICA IMAGEM
    newImage(img) {
      this.$refs.files.files[0] = img[0];
      this.$refs.files.files.forEach(value => {
        if (value != undefined && value != this.$refs.files.files[0]) {
          this.$refs.files.removeFile(value);
        }
      });
    },

    deleteClassModel(item) {
      this.$q
        .dialog({
          title: "CONFIRMAÇÃO",
          message:
            "<b style='font-size:15px'> DESEJA REALMENTE EXCLUIR O ITEM " +
            item.title +
            "? </b>",
          html: true,
          ok: {
            unelevated: true,
            color: "blue-10",
            label: "SIM"
          },
          cancel: {
            unelevated: true,
            color: "red-10",
            label: "NÃO"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .get(`${process.env.API}/classCourse/deleteClass/${item.id}`)
            .then(res => {
              this.initialize();
              this.classModel.class = res.data.data;
              this.$q.notify({
                color: "green-8",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "TURMA EXCLUÍDA COM SUCESSO!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO realizar operação! Informe o desenvolvedor"
              });
            });
        })
        .onCancel(() => {})
        .onDismiss(() => {});
    },

    deleteCourse(item) {
      this.$q
        .dialog({
          title: "CONFIRMAÇÃO",
          message:
            "<b style='font-size:15px'> DESEJA REALMENTE EXCLUIR O ITEM " +
            item.title +
            "? </b>",
          html: true,
          ok: {
            unelevated: true,
            color: "blue-10",
            label: "SIM"
          },
          cancel: {
            unelevated: true,
            color: "red-10",
            label: "NÃO"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .get(`${process.env.API}/classCourse/deleteCourse/${item.id}`)
            .then(res => {
              this.initialize();
              this.$q.notify({
                color: "green-8",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "CURSO EXCLUÍDA COM SUCESSO!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO realizar operação! Informe o desenvolvedor"
              });
            });
        })
        .onCancel(() => {})
        .onDismiss(() => {});
    },

    showClass(item) {
      this.isShowClass = true;
      this.classModel = item;
      this.titlePage = "TURMAS";
    },
    closeClass() {
      this.isShowClass = false;
      this.classModel = null;
      this.titlePage = "CURSOS";
    },
    draw(item) {
      if (item.draw == true) {
        item.draw = false;
      } else {
        item.draw = true;
      }
    },
    initialize() {
      this.$axios
        .get(`${process.env.API}/classCourse/getClassCourses`)
        .then(res => {
          this.courses = res.data.data;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },
    opemModalSetClass(item) {
      this.valueClass.course_id = item.id;
      this.typeSave = "new";
      this.modalSetClass = true;
    },
    closeModalSetClass() {
      this.typeSave = null;
      this.modalSetClass = false;
      this.clearVar();
    },
    opemModalUpdateClass(item) {
      this.typeSave = "edit";
      this.valueClass = {
        title: item.title,
        id: item.id,
        course_id: item.course_id
      };
      this.modalSetClass = true;
    },
    saveEditSetClass() {
      this.$refs.titleClass.validate();
      if (this.$refs.titleClass.hasError) {
        this.formHasError = true;
      } else {
        if (this.typeSave == "new") {
          this.$axios
            .post(`${process.env.API}/classCourse/setClass`, this.valueClass)
            .then(res => {
              // this.initialize();
              this.classModel.class = res.data.data;
              this.closeModalSetClass();
              this.$q.notify({
                color: "green-8",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "CADASTRO REALIZADA COM SUCESSO"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO ao carregar! Informe o desenvolvedor"
              });
            });
        } else if (this.typeSave == "edit") {
          this.$axios
            .post(`${process.env.API}/classCourse/updateClass`, this.valueClass)
            .then(res => {
              this.initialize();
              this.closeModalSetClass();
              this.classModel.class = res.data.data;
              this.$q.notify({
                color: "green-8",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "EDIÇÃO REALIZADA COM SUCESSO"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO ao carregar! Informe o desenvolvedor"
              });
            });
        }
      }
    },
    closeModalSetCourse() {
      this.typeSave = null;
      this.modalSetCourse = false;
      this.clearVar();
    },
    opemModalSetCourse() {
      this.typeSave = "new";
      this.modalSetCourse = true;
    },
    opemModalUpdateCourse(item) {
      this.typeSave = "edit";
      this.valueCourse = {
        title: item.title,
        id: item.id,
        image: item.image
      };
      this.modalSetCourse = true;
    },
    saveEditSetCourse() {
      this.$refs.title.validate();

      if (this.$refs.title.hasError) {
        this.formHasError = true;
      } else {
        let files = this.$refs.filesCourse.files;

        let fd = new FormData();
        fd.append("value", JSON.stringify(this.valueCourse));
        fd.append("img", files[0]);
        if (this.typeSave == "new") {
          this.$axios
            .post(`${process.env.API}/classCourse/setCourse`, fd)
            .then(res => {
              this.initialize();
              this.closeModalSetCourse();
              this.$q.notify({
                color: "green-8",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "CADASTRO REALIZADO COM SUCESSO"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO ao carregar! Informe o desenvolvedor"
              });
            });
        } else if (this.typeSave == "edit") {
          this.$axios
            .post(`${process.env.API}/classCourse/updateCourse`, fd)
            .then(res => {
              this.initialize();
              this.closeModalSetCourse();
              this.$q.notify({
                color: "green-8",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "EDIÇÃO REALIZADA COM SUCESSO"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO ao carregar! Informe o desenvolvedor"
              });
            });
        }
      }
    },
    clearVar() {
      this.valueClass = {
        title: null,
        course_id: null
      };
      this.valueCourse = {
        title: null
      };
    },
    titleEmit() {
      this.$emit("title", this.title);
    }
  }
};
</script>

<style>
.my-card {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
.my-card-add {
  box-shadow: 1px 1px 5px rgb(141, 141, 141) inset !important;
  transition: 0.2s !important;
  min-height: 155px;
}
.descCard {
  opacity: 0.8 !important;
  color: white !important;
  background-color: rgb(0, 20, 1) !important;
}
.courseHover:hover {
  opacity: 0.8;
}
.courseHover:hover .barraSup {
  background-color: rgb(13, 161, 0) !important;
  transition: 0.2s;
}
</style>