<template>
  <q-page>
    <div v-bind:class="{'q-pa-xl':desktopMargin, 'q-pa-xs':!desktopMargin}">
      <q-card class="row shadow-1 q-mb-xl justify-end" style="opacity:0.8 !important">
        <div class="col-md-3 col-xs-12">
          <q-btn
            color="secondary q-ma-md bg-green-10"
            unelevated
            icon-right="add"
            label="ADICIONAR EVENTO"
            @click="openCardRegisterEvent()"
          />
        </div>
      </q-card>
      <!-- CARD PARA APRESENTAR OS EVENTOS CADASTRADOS -->
      <div class="q-mt-xl" style="font-size:16pt">
        <q-icon name="label_important" class="text-orange-10 q-mr-xs" size="20pt"></q-icon>
        <b class="text-grey-9">COMPETIÇÕES OFICIAIS</b>
      </div>
      <hr />
      <div class="row modalityCard q-mt-md" v-bind:class="{'justify-center':!desktopMargin}">
        <q-card
          class="my-card-event q-ma-xs shadow-1"
          v-for="item in events"
          :key="item.id"
          v-show="item.type_game == 'OFICIAL'"
        >
          <div @click="activitiesEvent(item)">
            <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
            <q-img :src="'data:image/png;base64,'+item.image" basic>
              <div
                class="absolute-bottom text-subtitle2 descCard text-center"
                style="font-size:16px"
              >{{item.title}}</div>
            </q-img>
            <div class="q-pa-sm">
              <div class="flex" style="font-size:16px">
                <q-icon name="where_to_vote" class="text-orange-10 q-mr-xs" size="16pt"></q-icon>
                <b class="q-mr-xs">EM:</b>
                <span class="flex-center">{{item.city}}</span>
              </div>
              <div class="flex" style="font-size:16px">
                <q-icon name="calendar_today" class="text-orange-10 q-mr-xs" size="16pt"></q-icon>
                <b class="q-mr-xs">DE:</b>
                <span class="flex-center">{{item.date_start}}</span>
              </div>
              <div class="flex" style="font-size:16px">
                <q-icon name="calendar_today" class="text-orange-10 q-mr-xs" size="16pt"></q-icon>
                <b class="q-mr-xs">ATÉ:</b>
                <span class="flex-center">{{item.date_end}}</span>
              </div>
            </div>
          </div>
          <div class="col-12 row justify-center">
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="orange-10"
              icon="edit"
              class="bg-grey-2"
              @click="openCardEditEvent(item)"
            />
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="red-10"
              icon="delete"
              class="bg-grey-2"
              @click="deleteEvent(item)"
            />
          </div>
          <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
        </q-card>
      </div>

      <div class="q-mt-xl" style="font-size:16pt">
        <q-icon name="label_important" class="text-orange-10 q-mr-xs" size="20pt"></q-icon>
        <b class="text-grey-9">COMPETIÇÕES TREINO - OFICINA</b>
      </div>
      <hr />
      <div class="row modalityCard q-mt-md" v-bind:class="{'justify-center':!desktopMargin}">
        <q-card
          class="my-card-event q-ma-xs shadow-1"
          v-for="item in events"
          :key="item.id"
          v-show="item.type_game == 'OFICINA-TREINO'"
        >
          <div @click="activitiesEvent(item)">
            <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
            <q-img :src="'data:image/png;base64,'+item.image" basic>
              <div
                class="absolute-bottom text-subtitle2 descCard text-center"
                style="font-size:16px"
              >{{item.title}}</div>
            </q-img>
            <div class="q-pa-sm">
              <div class="flex" style="font-size:16px">
                <q-icon name="where_to_vote" class="text-orange-10 q-mr-xs" size="16pt"></q-icon>
                <b class="q-mr-xs">EM:</b>
                <span class="flex-center">{{item.city}}</span>
              </div>
              <div class="flex" style="font-size:16px">
                <q-icon name="calendar_today" class="text-orange-10 q-mr-xs" size="16pt"></q-icon>
                <b class="q-mr-xs">DE:</b>
                <span class="flex-center">{{item.date_start}}</span>
              </div>
              <div class="flex" style="font-size:16px">
                <q-icon name="calendar_today" class="text-orange-10 q-mr-xs" size="16pt"></q-icon>
                <b class="q-mr-xs">ATÉ:</b>
                <span class="flex-center">{{item.date_end}}</span>
              </div>
            </div>
          </div>
          <div class="col-12 row justify-center">
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="orange-10"
              icon="edit"
              class="bg-grey-2"
              @click="openCardEditEvent(item)"
            />
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="red-10"
              icon="delete"
              class="bg-grey-2"
              @click="deleteEvent(item)"
            />
          </div>
          <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
        </q-card>
      </div>

      <!-- ÁREA PARA CADASTRAR EVENTOS -->
      <q-dialog v-model="modalSetEvent" persistent>
        <q-card style="width: 700px; max-width: 80vw;">
          <q-card-section class="row justify-center bg-grey-3">
            <div class="text-h6 text-teal-10">NOVO EVENTO</div>
          </q-card-section>
          <q-card-section class="scroll row" style="max-height: 50vh">
            <div class="q-mr-md" v-bind:class="{'col':desktopMargin, 'col-12':!desktopMargin}">
              <!-- TITULO -->
              <q-input
                color="teal-10"
                v-model="eventValue.title"
                type="text"
                dense
                autofocus
                label="NOME DO EVENTO"
                class="q-ma-sm"
              >
                <template v-slot:prepend>
                  <q-icon name="title" />
                </template>
              </q-input>
              <!-- DATA INICIO -->
              <q-input
                class="col-xs-10 col-md-2 col-sm-2 on-left"
                color="teal-10"
                v-model="eventValue.date_start"
                unmasked-value
                mask="##/##/####"
                label="DATA INICIO"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateStart" transition-show="scale" transition-hide="scale">
                      <q-date
                        :options="dateStart"
                        v-model="myLocale.dateStartSelected"
                        :locale="myLocale"
                        mask="MM/DD/YYYY"
                        @input="() => $refs.qDateStart.hide()"
                      />
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
              <!-- DATA FIM -->
              <q-input
                class="col-xs-10 col-md-2 col-sm-2 on-left"
                color="teal-10"
                v-model="eventValue.date_end"
                unmasked-value
                mask="##/##/####"
                label="DATA FIM"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateEnd" transition-show="scale" transition-hide="scale">
                      <q-date
                        :options="dateEnd"
                        v-model="myLocale.dateEndSelected"
                        :locale="myLocale"
                        mask="MM/DD/YYYY"
                        @input="() => $refs.qDateEnd.hide()"
                      />
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
              <!-- CEP -->
              <q-input
                color="teal-10"
                v-model="eventValue.CEP"
                type="text"
                dense
                label="CEP"
                class="q-ma-sm"
                unmasked-value
                mask="#####-###"
              >
                <template v-slot:prepend>
                  <q-icon name="my_location" />
                </template>
              </q-input>
              <!-- CIDADE -->
              <q-input
                color="teal-10"
                v-model="eventValue.city"
                type="text"
                dense
                label="CIDADE"
                class="q-ma-sm"
              >
                <template v-slot:prepend>
                  <q-icon name="location_city" />
                </template>
              </q-input>
              <!-- TIPO DE JOGO -->
              <q-select
                class="q-ma-sm"
                color="teal-10"
                v-model="eventValue.type_game"
                :options="['OFICIAL','OFICINA-TREINO']"
                label="TIPO DE COMPETIÇÃO"
              >
                <template v-slot:prepend>
                  <q-icon name="bubble_chart" />
                </template>
              </q-select>
              <!-- DESCRICAO -->
              <q-input
                color="teal-10"
                v-model="eventValue.description"
                type="textarea"
                dense
                label="DESCRIÇÃO"
                class="q-ma-sm"
                autogrow
              >
                <template v-slot:prepend>
                  <q-icon name="description" />
                </template>
              </q-input>
            </div>
            <div class="col row justify-center q-pt-md" style="width:100%">
              <q-uploader
                accept=".jpg, image/*"
                class="shadow-0"
                color="white"
                style="min-width:100%"
                ref="filesEvent"
                @added="newImage"
              >
                <template v-slot:header="scope">
                  <div class="row flex-center bg-grey-4 q-pa-xs">
                    <div class="col-10 text-h6 text-grey-7 q-ml-md">IMAGEM</div>
                    <div class="col-1 row justify-end">
                      <q-btn class="bg-red" style="font-size:20px" type="a" dense flat icon="edit">
                        <div class="row justify-end"></div>
                        <q-uploader-add-trigger />
                        <q-tooltip>Editar imagem atual</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                </template>
                <template v-slot:list="scope">
                  <q-list separator>
                    <div class="row justify-center" v-if="scope.canAddFiles">
                      <img
                        :src="'data:image/png;base64,'+eventValue.image"
                        v-if="typeSave == 'edit'"
                      />
                      <img src="../img/default.jpg" v-else-if="typeSave == 'new'" />
                    </div>
                    <div class="row justify-center">
                      <div v-if="scope.files[0] != undefined">
                        <img :src="scope.files[0].__img.src" style="width:200px" />
                      </div>
                    </div>
                  </q-list>
                </template>
              </q-uploader>
            </div>
          </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <q-btn
              class="q-ma-xs"
              label="VOLTAR"
              @click="closeCardEvent()"
              color="red-10"
              unelevated
            />
            <q-btn
              class="q-ma-xs"
              label="SALVAR"
              @click="saveCardEvent()"
              color="blue-10"
              unelevated
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import moment from "moment";
export default {
  name: "Event",
  data: function() {
    return {
      title: "EVENTOS",
      desktopMargin: this.$q.platform.is.desktop,
      //PADRÃO PARA CALENDÁRIO
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado".split("_"),
        daysShort: "Dom_Seg_Ter_Qua_Qui_Sex_Sáb".split("_"),
        months: "Janeiro_Fevereiro_Março_Abril_Maio_Junho_Júlio_Agosto_Setembro_Outubro_Novembro_Dezembro".split(
          "_"
        ),
        monthsShort: "Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez".split(
          "_"
        ),
        firstDayOfWeek: 1,
        dateStartSelected: null,
        dateEndSelected: null
      },
      events: [],
      modalSetEvent: false,
      eventValue: {
        image: null,
        title: null,
        date_start: null,
        date_end: null,
        city: null,
        description: null,
        CEP: null,
        type_game: "OFICINA-TREINO"
      },
      typeSave: null
    };
  },
  mounted: function() {
    this.titleEmit();
    this.getEvents();
  },
  watch: {
    //OBSERVANDO O CAMPO CEP PARA PREENCHER AUTOMATICAMENTE OS DAMAIS CAMPOS RELACIONADOS
    "eventValue.CEP"() {
      var lengthCEP = this.eventValue.CEP;
      if (lengthCEP == null) {
        lengthCEP = 0;
      }
      if (lengthCEP.length >= 8) {
        this.$axios
          .get(`${process.env.API}/cep/${this.eventValue.CEP}`)
          .then(res => {
            console.log(res.data);
            this.eventValue.city = res.data.localidade;
          })
          .catch(err => {});
      }
    },
    "myLocale.dateStartSelected"() {
      this.eventValue.date_start = moment(
        this.myLocale.dateStartSelected,
        "MM/DD/YYYY"
      ).format("DDMMYYYY");
    },
    "myLocale.dateEndSelected"() {
      this.eventValue.date_end = moment(
        this.myLocale.dateEndSelected,
        "MM/DD/YYYY"
      ).format("DDMMYYYY");
    }
  },
  methods: {
    dateStart(date) {
      let atu = new Date();
      atu = moment(atu, "MM/DD/YYYY").format("YYYY/MM/DD");
      return date >= atu;
    },
    dateEnd(date) {
      let atu = this.myLocale.dateStartSelected;
      atu = moment(atu, "MM/DD/YYYY").format("YYYY/MM/DD");
      return date >= atu;
    },
    newImage(img) {
      this.$refs.files.files[0] = img[0];
      this.$refs.files.files.forEach(value => {
        if (value != undefined && value != this.$refs.files.files[0]) {
          this.$refs.files.removeFile(value);
        }
      });

      console.log(img);
    },
    //Emitir título da tela de eventos
    titleEmit() {
      this.$emit("title", this.title);
    },

    //Buscar atividades relacionadas ao evento selecionado
    activitiesEvent(item) {
      localStorage.event = JSON.stringify(item);
      this.$router.push({
        name: "atividadesName"
      });
    },
    //Buscar todos os eventos cadastrados no banco de dados da API
    getEvents() {
      this.$axios
        .get(`${process.env.API}/events/getEvents`)
        .then(res => {
          this.events = res.data.data;
          this.events.forEach(el => {
            el.date_start = moment(el.date_start, "DDMMYYYY").format(
              "DD/MM/YYYY"
            );
            el.date_end = moment(el.date_end, "DDMMYYYY").format("DD/MM/YYYY");
          });
          console.log(this.events);
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar Dados! Informe o desenvolvedor"
          });
        });
    },

    //Abrir modal de novo evento
    openCardRegisterEvent() {
      this.modalSetEvent = true;
      this.typeSave = "new";
    },

    //Abrir modal de edição de um evento
    openCardEditEvent(item) {
      this.typeSave = "edit";
      this.eventValue = {
        id: item.id,
        title: item.title,
        date_start: moment(item.date_start, "DD/MM/YYYY").format("DDMMYYYY"),
        date_end: moment(item.date_end, "DD/MM/YYYY").format("DDMMYYYY"),
        city: item.city,
        description: item.description,
        CEP: item.CEP,
        image: item.image,
        type_game: item.type_game
      };
      this.modalSetEvent = true;
    },

    // Ao clicar no botão de fechar no card de cadastro de eventos
    closeCardEvent() {
      this.modalSetEvent = false;
      this.clearEventValue();
      this.typeSave = null;
    },

    // Ao clicar no botão de salvar no card de cadastro/edição de eventos
    saveCardEvent() {
      let files = this.$refs.filesEvent.files;
      let fd = new FormData();
      fd.append("value", JSON.stringify(this.eventValue));
      fd.append("img", files[0]);
      if (this.typeSave == "new") {
        this.$axios
          .post(`${process.env.API}/events/setEvent`, fd)
          .then(res => {
            this.getEvents();
            this.closeCardEvent();
            this.$q.notify({
              color: "green-7",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "Cadastrado com Sucesso!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar Dados! Informe o desenvolvedor"
            });
          });
      } else if (this.typeSave == "edit") {
        this.$axios
          .post(`${process.env.API}/events/updateEvent`, fd)
          .then(res => {
            this.getEvents();
            this.closeCardEvent();
            this.$q.notify({
              color: "green-7",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "Alterado com Sucesso!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar Dados! Informe o desenvolvedor"
            });
          });
      }
    },

    //Ao clicar no botão de excluir evento
    deleteEvent(item) {
      this.$q
        .dialog({
          title: "CONFIRMAÇÃO",
          message:
            "<b style='font-size:15px'> DESEJA REALMENTE EXCLUIR O ITEM " +
            item.title +
            "? </b>",
          html: true,
          ok: {
            unelevated: true,
            color: "blue-10",
            label: "SIM"
          },
          cancel: {
            unelevated: true,
            color: "red-10",
            label: "NÃO"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .get(`${process.env.API}/events/deleteEvent/${item.id}`)
            .then(res => {
              console.log(res.data);
              this.getEvents();
              this.$q.notify({
                color: "green-7",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "EXCLUÍDO COM SUCESSO!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "Não Foi Possível Alterar! Há informações incorretas"
              });
            });
        })
        .onCancel(() => {})
        .onDismiss(() => {});
    },

    //limpar variaveis de cadastro
    clearEventValue() {
      this.eventValue = {
        title: null,
        date_start: null,
        date_end: null,
        city: null,
        description: null,
        CEP: null,
        image: null,
        type_game: "OFICINA-TREINO"
      };
    }
  }
};
</script>

<style>
.my-card-event {
  width: 100%;
  max-width: 240px;
  cursor: pointer;
}
.modalityCard .my-card-event:hover {
  /* background-color: rgb(246, 246, 246); */
  opacity: 0.8;
  box-shadow: 2px 2px 5px rgb(129, 129, 129);
  transition: 0.2s;
}

.my-card-event:hover .destaque {
  /* background-color: rgb(104, 122, 0) !important; */
  background-color: rgb(13, 161, 0) !important;
  transition: 0.2s;
}
</style>