<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="../img/logoSist.png" width="600px" />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: "PageIndex",
  data: function() {
    return {
      title: "INICIO"
    };
  },
  mounted: function() {
    this.titleEmit();
  },
  methods: {
    titleEmit() {
      this.$emit("title", this.title);
    }
  }
};
</script>
