<template>
  <q-page
    class="flex flex-center"
    style="background-image: linear-gradient(to bottom right, #022c32, #024c32);"
  >
    <div>
      <!-- <div class="title_mobile flex flex-center gt-sm">
        <q-btn
          class="text-white"
          size="35px"
          round
          style="background-color:#022c32"
          icon="person_pin"
        />
      </div>-->
      <div class="title_mobile"></div>

      <q-form @submit="onSubmit" class="q-gutter-md">
        <q-input
          v-model="values.email"
          label="Email"
          dark
          color="green-4"
          lazy-rules
          rounded
          outlined
        >
          <template v-slot:prepend>
            <q-icon name="perm_identity" />
          </template>
        </q-input>

        <q-input
          type="password"
          v-model="values.password"
          label="Senha"
          color="green-4"
          lazy-rules
          dark
          rounded
          outlined
        >
          <template v-slot:prepend>
            <q-icon name="lock" />
          </template>
        </q-input>

        <div>
          <q-btn
            label="ENTRAR"
            type="submit"
            icon-right="send"
            color="green-9"
            class="full-width q-mt-md"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<style>
.title {
  max-width: 400px;
  min-width: 400px;
  height: 100px;
  margin-bottom: 10% !important;
}
.title_mobile {
  max-width: 300px;
  min-width: 300px;
  height: 250px;
  margin-bottom: 10% !important;
  background: url(../img/logoSist.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
</style>

<script>
export default {
  data: function() {
    return {
      values: {
        email: null,
        password: null
      }
    };
  },
  methods: {
    onSubmit() {
      this.$axios
        .post(`${process.env.API}/login`, this.values, {
          accept: "application/json"
        })
        .then(res => {
          localStorage.token = res.data.token;
          console.log(res.data.token);
          localStorage.type = res.data.user.type;
          console.log(localStorage.type);
          if (res.data.user.first_access == 0) {
            console.log("PASSOu");
            if (res.data.user.type_user == "ADMINISTRADOR") {
              // this.$router.push("cadastrar/administrador");
              this.$router.push("index");
            } else if (res.data.user.type_user == "PROFESSOR") {
              this.$router.push("cadastrar/professor");
            } else if (res.data.user.type_user == "BOLSISTA") {
              this.$router.push("cadastrar/bolsista");
            }
          } else {
            this.$router.go("index");
          }
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Algum dos seus dados está incorreto, verifique novamente!"
          });
        });
    }
  }
};
</script>

