<template>
  <q-page>
    <div class="q-pa-xs">
      <!-- BARRA DE TAREFAS DA TELA DE CARDS (ESTILO PASTAS) -->

      <div class="row bg-grey-2 q-pa-xs">
        <q-btn
          round
          dense
          size="md"
          @click="undoCard()"
          icon="arrow_back"
          v-if="arrayClickCard.title != null"
          unelevated
          color="green-10"
          class="q-mr-xs q-ml-xs"
        />
        <div class="row flex-center q-ml-md">
          <!-- {{arrayClickCard.title}} -->
          <q-breadcrumbs active-color="grey-6" class="text-green-8">
            <q-breadcrumbs-el
              v-for="item in ClickCardBreadcrumbs"
              :key="item.id"
              :label="item.title"
            />
            <!-- <q-breadcrumbs-el label="Components" />
            <q-breadcrumbs-el label="Breadcrumbs" />-->
          </q-breadcrumbs>
        </div>
      </div>

      <!-- APRESENTAÇÃO DAS MODALIDADES EM CARDS -->

      <div class="row" v-bind:class="{'justify-center':!desktopMargin}">
        <q-card
          class="my-card q-ma-xs shadow-1 courseHover row"
          style="width:200px"
          v-for="item in modalitysCard"
          :key="item.id"
        >
          <div class="bg-blue-grey-10 barraSup" style="width:100%;height:3px"></div>
          <div class="col-11 q-pa-xs row justify-center" @click="reloadCard(item)">
            <img
              :src="'data:image/png;base64,'+item.image"
              style="width:100px !important;height:100px"
            />
          </div>
          <div class="col-1 row justify-end content-start">
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="orange-10"
              icon="edit"
              @click="updateModality(item)"
            />
            <q-btn
              unelevated
              flat
              style="width:50%"
              color="red-10"
              icon="delete"
              @click="deleteModalityButtom(item)"
            />
          </div>
          <div class="col-12 row justify-center q-pa-xs" @click="reloadCard(item)">
            <b
              class="col-12 text-blue-grey-9 flex flex-center"
              style="font-size:15px;text-align:center"
            >{{item.title}}</b>
          </div>
        </q-card>

        <!-- BOTÃO EM FORMATO DE CARD PARA ADICIONAR NOVA MODALIDADE -->

        <q-card
          class="my-card my-card-add q-ma-xs flex-center"
          @click="newModalityButtom(arrayClickCard)"
          style="background:#F8F8FF"
        >
          <div class="col-12 row flex-center" style="height:80%">
            <q-icon name="add" class="text-grey" style="font-size:100px;"></q-icon>
          </div>
          <div
            v-if="arrayClickCard.title != null"
            class="bg-grey-7 text-white row justify-center flex-center"
            style="height:20%;font-size:16px;opacity:0.7"
          >Nova Submodalidade</div>
          <div
            v-else
            class="bg-grey-7 text-white row justify-center flex-center"
            style="height:20%;font-size:16px;opacity:0.7"
          >Nova Modalidade</div>
        </q-card>
      </div>
    </div>

    <!-- DIALOG PARA CADASTRAR NOVA MODALIDADE -->

    <q-dialog v-model="modalSetModality" persistent>
      <q-card style="min-width: 350px;max-Width:400px !important;">
        <q-card-section class="row justify-center">
          <div class="text-h6 text-teal-10">NOVA MODALIDADE</div>
        </q-card-section>
        <q-card-section style="max-height: 50vh">
          <q-input
            color="teal-10"
            type="text"
            dense
            v-model="values.title"
            autofocus
            label="NOME DA MODALIDADE"
            ref="title"
            :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
          />
          <q-input
            color="teal-10"
            dense
            v-model="values.description"
            autogrow
            type="textarea"
            label="DESCRIÇÃO"
          />
          <q-separator class="q-mt-md" />
          <div class="row justify-center q-pt-md" style="width:100%">
            <q-uploader
              accept=".jpg, image/*"
              class="shadow-0"
              color="white"
              style="max-width: 300px;min-width:100%"
              ref="files"
              @added="newImage"
            >
              <template v-slot:header="scope">
                <div class="row">
                  <div class="col-10 text-h6 text-grey-7 q-ml-md flex content-center">IMAGEM</div>
                  <div class="col-1 row justify-end">
                    <q-btn class="bg-red" style="font-size:20px" type="a" dense flat icon="edit">
                      <div class="row justify-end"></div>
                      <q-uploader-add-trigger />
                      <q-tooltip>Adicionar Imagem</q-tooltip>
                    </q-btn>
                  </div>
                </div>
              </template>
              <template v-slot:list="scope">
                <q-list separator>
                  <div class="row justify-center" v-if="scope.canAddFiles">
                    <q-avatar size="150px" class="bg-grey-4">
                      <img
                        :src="'data:image/png;base64,'+values.image"
                        v-if="typeSetModality == 'edit' || typeSetModality == 'visul'"
                      />
                      <img src="../img/default.jpg" v-else-if="typeSetModality == 'new'" />
                    </q-avatar>
                  </div>
                  <div class="row justify-center">
                    <q-avatar size="150px" class="bg-grey-4" v-if="scope.files[0] != undefined">
                      <img :src="scope.files[0].__img.src" />
                    </q-avatar>
                  </div>
                </q-list>
              </template>
            </q-uploader>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn class="q-ma-xs" label="VOLTAR" color="red-10" @click="closeModalSet()" unelevated />
          <q-btn class="q-ma-xs" label="SALVAR" @click="setModality()" color="blue-10" unelevated />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { Dialog } from "quasar";

export default {
  data() {
    return {
      title: "MODALIDADES",
      values: {},
      desktopMargin: this.$q.platform.is.desktop,
      modalModality: false,
      modalSetModality: false,
      typeSetModality: null,
      modalitys: [],
      modalitysCard: [],
      lastClickCard: {},
      arrayClickCard: {},
      ClickCardBreadcrumbs: [],
      undoCardAutorization: false
    };
  },
  mounted() {
    this.initialize({ id: 0 });
    this.$axios.defaults.headers.common[
      "Authorization"
    ] = `Bearer ${localStorage.token}`;
    this.titleEmit();

    this.reloadValues();
  },
  methods: {
    //LIMITAR O CAMPO DE IMAGENS PARA CADASTRAR SOMENTE UMA ÚNICA IMAGEM
    newImage(img) {
      this.$refs.files.files[0] = img[0];
      this.$refs.files.files.forEach(value => {
        if (value != undefined && value != this.$refs.files.files[0]) {
          this.$refs.files.removeFile(value);
        }
      });
    },

    //Retornar Árvore de dados no card
    undoCard() {
      var mdl = this.lastClickCard;
      this.undoCardAutorization = true;

      this.ClickCardBreadcrumbs.splice(
        this.ClickCardBreadcrumbs.indexOf(mdl),
        1
      );
      if (mdl.modality_id != 0) {
        this.modalitys.filter(function(item) {
          if (item.id == mdl.modality_id) {
            mdl = item;
          }
        });
        this.reloadCard(mdl);
      } else {
        this.reloadCard({ id: 0 });
        this.arrayClickCard = {};
      }
    },
    //Ao clicar no card acione esta função para carregar os cards filhos
    reloadCard(mdl) {
      var guard = this.lastClickCard;
      this.lastClickCard = mdl;
      const result = this.modalitys.filter(function(item) {
        if (item.modality_id == mdl.id) {
          return item;
        }
      });
      this.modalitysCard = result;
      this.arrayClickCard = mdl;
      if (this.undoCardAutorization == false) {
        this.ClickCardBreadcrumbs.push(mdl);
      }
      this.undoCardAutorization = false;
    },

    //Excluir uma modalidade cadastrada
    deleteModalityButtom(mdl) {
      this.$q
        .dialog({
          title: "CONFIRMAÇÃO",
          message:
            "<b style='font-size:15px'> DESEJA REALMENTE EXCLUIR O ITEM " +
            mdl.title +
            "? </b>",
          html: true,
          ok: {
            unelevated: true,
            color: "blue-10",
            label: "SIM"
          },
          cancel: {
            unelevated: true,
            color: "red-10",
            label: "NÃO"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .get(`${process.env.API}/modality/deleteModality/${mdl.id}`)
            .then(res => {
              this.initialize(this.arrayClickCard);

              this.$q.notify({
                color: "green-8",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "MODALIDADE EXCLUÍDA COM SUCESSO!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO ao carregar! Informe o desenvolvedor"
              });
            });
        })
        .onCancel(() => {})
        .onDismiss(() => {});
    },

    //Fechar modal de cadastro de modalidade
    closeModalSet() {
      this.modalSetModality = false;
      this.reloadValues();
      this.typeSetModality = null;
    },

    //Editar uma modalidade cadastrada
    updateModality(item) {
      this.$axios
        .get(`${process.env.API}/modality/getModality/${item.id}`)
        .then(res => {
          this.values = res.data;
          console.log(this.values);
          if (this.values.modality_id == 0) {
            this.values.modality_id = { id: 0, title: "MODALIDADE SEM PAI" };
          }
          this.typeSetModality = "edit";
          this.modalSetModality = true;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    //Abrir card de nova modalidade
    newModalityButtom(item) {
      this.typeSetModality = "new";
      this.reloadValues();
      this.values.modality_id = item;
      if (this.values.modality_id.id == null) {
        this.values.modality_id = { id: 0 };
      }

      this.modalSetModality = true;
    },
    //Salvar ou Alterar uma Modalidade
    setModality() {
      this.$refs.title.validate();
      if (this.$refs.title.hasError) {
        this.$refs.title.formHasError = true;
      } else {
        if (this.typeSetModality == "edit") {
          let files = this.$refs.files.files;
          this.values.modality_id = this.values.modality_id.id;

          let fd = new FormData();
          fd.append("value", JSON.stringify(this.values));
          fd.append("img", files[0]);

          this.$axios
            .post(`${process.env.API}/modality/updateModality`, fd)
            .then(res => {
              this.initialize(this.arrayClickCard);
              this.$q.notify({
                color: "green-7",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "Alterado com Sucesso!"
              });
              this.closeModalSet();
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO ao carregar! Informe o desenvolvedor"
              });
            });
        } else if (this.typeSetModality == "new") {
          this.values.modality_id = this.values.modality_id.id;

          let files = this.$refs.files.files;

          let fd = new FormData();
          fd.append("value", JSON.stringify(this.values));
          fd.append("img", files[0]);

          this.$axios
            .post(`${process.env.API}/modality/setModality`, fd)
            .then(res => {
              this.initialize(this.arrayClickCard);
              this.values = res.data.modality;
              this.$q.notify({
                color: "green-7",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "Cadastrado com Sucesso!"
              });
              this.closeModalSet();
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "ERRO ao carregar! Informe o desenvolvedor"
              });
            });
        }
      }
    },

    //Iniciar dados das modalidades
    initialize(mdl) {
      this.$axios
        .get(`${process.env.API}/modality/getModalitys`)
        .then(res => {
          this.modalitys = res.data;
          if (mdl.id == null) {
            mdl.id = 0;
          }
          this.modalitysCard = this.modalitys.filter(function(item) {
            if (item.modality_id == mdl.id) {
              return item;
            }
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },
    titleEmit() {
      this.$emit("title", this.title);
    },

    reloadValues() {
      this.values = {
        title: null,
        description: null,
        modality_id: {
          id: 0,
          title: "MODALIDADE SEM PAI"
        }
      };
    }
  }
};
</script>

<style>
.titleCard {
  height: 5px;
  width: 100%;
}
.hoverClass :hover {
  background-color: rgba(192, 192, 192, 0.548) !important;
  transition: 0.2s !important;
}

.my-card {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
.my-card-add {
  box-shadow: 1px 1px 5px rgb(141, 141, 141) inset !important;
  transition: 0.2s !important;
  min-height: 155px;
}

.descCard {
  opacity: 0.8 !important;
  color: white !important;
  background-color: rgb(0, 20, 1) !important;
}

.courseHover:hover {
  opacity: 0.8;
}
.courseHover:hover .barraSup {
  background-color: rgb(13, 161, 0) !important;
  transition: 0.2s;
}
</style>