<template>
  <q-page>
    <div class="q-pa-xl">
      <!-- CARD DE INFORMAÇÕES DE LOGIN -->
      <q-card class="shadow-1">
        <div class="titleCard bg-orange-8"></div>
        <q-card-section class>
          <div class="q-mb-md">INFORMAÇÕES DE USUÁRIO:</div>
          <div class="row justify-center">
            <!-- NICKNAME -->
            <div class="col-xs-12 col-md-5 col-sm-5 on-left">
              <q-input color="orange-8" v-model="values.nickname" label="Apelido">
                <template v-slot:prepend>
                  <q-icon name="face" />
                </template>
              </q-input>
            </div>

            <!-- EMAIL -->
            <div class="col-xs-12 col-md-5 col-sm-6 on-left">
              <q-input color="orange-8" disable v-model="values.email" label="Email">
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>
            </div>

            <!-- TYPE USER -->

            <div class="col-xs-12 col-md-5 col-sm-6 on-left">
              <q-input color="orange-8" disable v-model="values.type_user" label="TIPO USUÁRIO">
                <template v-slot:prepend>
                  <q-icon name="looks" />
                </template>
              </q-input>
            </div>

            <!-- VERIFICATION -->
            <!-- <div
              class="col-xs-10 col-md-5 col-sm-5 on-right row justify-end content-center"
              style="font-size:14px"
            >
              <div class="verify_email" v-if="values.verification == 0">
                <b>EMAIL NÃO VERIFICADO</b>
                <q-icon class="q-ml-xs" name="cancel" color="red-8" size="25pt" />
              </div>
              <div v-else>
                <b>EMAIL VERIFICADO</b>
                <q-icon class="q-ml-xs" name="check_circle" color="green-8" size="25pt" />
              </div>
            </div>-->

            <!-- BOTÃO DE SALTAR -->
          </div>
          <div class="q-mt-xl row justify-between" style="widht:100%">
            <div class="content-center">
              <q-btn
                outline
                class="text-teal-10"
                @click="opemModalUpdatePass()"
                label="ALTERAR MINHA SENHA"
              />
            </div>
            <q-btn
              color="green-9"
              unelevated
              icon-right="done"
              @click="updateUser()"
              label="Salvar"
            />
          </div>
        </q-card-section>
      </q-card>

      <!-- TIPO DE USUÁRIO ADMINISTRADOR - DADOS ADICIONAIS -->
      <q-card class="shadow-1 q-mt-md" v-if="values.type_user == 'ADMINISTRADOR'">
        <div class="titleCard bg-purple-8"></div>
        <q-card-section class>
          <div class="q-mb-md">INFORMAÇÕES DE ADMINISTRADOR:</div>
          <div class="row justify-center">
            <!-- NOME -->
            <div class="col-xs-12 col-md-5 col-sm-5 on-left">
              <q-input color="orange-8" v-model="valueAdmin.name" label="NOME">
                <template v-slot:prepend>
                  <q-icon name="face" />
                </template>
              </q-input>
            </div>

            <!-- BOTÃO DE SALTAR -->
          </div>
          <div class="q-mt-xl row justify-end" style="widht:100%">
            <q-btn
              color="green-9"
              unelevated
              icon-right="done"
              @click="updateAdmin()"
              label="Salvar"
            />
          </div>
        </q-card-section>
      </q-card>

      <!-- TIPO DE USUÁRIO PROFESSOR - DADOS ADICIONAIS -->
      <q-card class="shadow-1 q-mt-md" v-if="values.type_user == 'PROFESSOR'">
        <div class="titleCard bg-purple-8"></div>
        <q-card-section class>
          <div class="q-mb-md">INFORMAÇÕES DE PROFESSOR:</div>
          <div class="row justify-center">
            <!-- PRIMEIRO NOME -->
            <div class="col-xs-12 col-md-5 col-sm-5 on-left">
              <q-input color="orange-8" v-model="valueManager.first_name" label="NOME">
                <template v-slot:prepend>
                  <q-icon name="face" />
                </template>
              </q-input>
            </div>

            <!-- SOBRENOME NOME -->
            <div class="col-xs-12 col-md-5 col-sm-5 on-left">
              <q-input color="orange-8" v-model="valueManager.last_name" label="SOBRENOME">
                <template v-slot:prepend>
                  <q-icon name="face" />
                </template>
              </q-input>
            </div>

            <!-- CPF -->

            <q-input
              class="col-xs-10 col-md-5 col-sm-5 on-left"
              color="orange-10"
              v-model="valueManager.CPF"
              unmasked-value
              mask="###.###.###-##"
              label="CPF"
              ref="CPF"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="how_to_vote" />
              </template>
            </q-input>

            <!-- BOTÃO DE SALTAR -->
          </div>
          <div class="q-mt-xl row justify-end" style="widht:100%">
            <q-btn
              color="green-9"
              unelevated
              icon-right="done"
              @click="updateManager()"
              label="Salvar"
            />
          </div>
        </q-card-section>
      </q-card>
    </div>

    <!-- DIALOG PARA MUDAR SENHA -->
    <q-dialog v-model="modalUpdatePass" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">ALTERAR SENHA</div>
        </q-card-section>
        <q-card-section class="scroll row" style="max-height: 50vh">
          <div class="row justify-center q-pa-sm" style="width:100%">
            <q-input
              class="col-8"
              type="password"
              color="teal-10"
              v-model="valuePass.password"
              label="NOVA SENHA"
              lazy-rules
              rounded
              outlined
              ref="password"
              :rules="[
            val => val !== null && val !== '' || 'informe sua idade por favor'
            ]"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>

            <!-- CONFIRMAR SENHA -->
            <q-input
              class="col-8"
              type="password"
              color="teal-10"
              v-model="valuePass.confirm_password"
              label="CONFIRMAR SENHA"
              lazy-rules
              rounded
              outlined
              ref="confirm_password"
              :rules="[
            val => val !== null && val !== '' || 'informe sua idade por favor'
            ]"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            @click="closeModalUpdatePass()"
            color="red-10"
            unelevated
          />
          <q-btn
            class="q-ma-xs"
            label="CONTINUAR"
            color="blue-10"
            unelevated
            @click="saveSetPass()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style>
.titleCard {
  height: 5px;
  width: 100%;
}

.verify_email {
  cursor: pointer;
}

.verify_email :hover {
  text-decoration: underline;
}
</style>

<script>
export default {
  name: "PageIndex",
  data() {
    return {
      title: "PERFIL",
      values: {
        nickname: null,
        email: null,
        password: null
      },
      valueAdmin: {},
      valueManager: {},
      valueHolder: {},
      valuePass: {
        password: null,
        confirm_password: null
      },
      modalUpdatePass: false
    };
  },
  mounted() {
    this.$axios.defaults.headers.common[
      "Authorization"
    ] = `Bearer ${localStorage.token}`;
    this.valuesProfile();
    this.titleEmit();
  },
  methods: {
    titleEmit() {
      this.$emit("title", this.title);
    },
    alterProfileEmit() {
      this.$emit("userProfile", this.values);
    },
    valuesProfile() {
      this.$axios
        .get(`${process.env.API}/user`)
        .then(res => {
          this.values = res.data;
          if (this.values.type_user == "ADMINISTRADOR") {
            this.valueAdmin = this.values.type_user_data;
          } else if (this.values.type_user == "PROFESSOR") {
            this.valueManager = this.values.type_user_data;
          } else if (this.values.type_user == "BOLSISTA") {
            this.valueHolder = this.values.type_user_data;
          }
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    //Alterar Administrador
    updateAdmin() {
      this.$axios
        .post(`${process.env.API}/user/updateAdmin`, this.valueAdmin)
        .then(res => {
          this.valuesProfile();
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "CADASTRADO COM SUCESSO!"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    //Alterar Professor
    updateManager() {
      this.$axios
        .post(`${process.env.API}/user/updateManager`, this.valueManager)
        .then(res => {
          this.valuesProfile();
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "CADASTRADO COM SUCESSO!"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    //Alterar dados comum de usuário
    updateUser() {
      this.$axios
        .post(`${process.env.API}/user/updateProfile`, this.values)
        .then(res => {
          this.alterProfileEmit();
          this.valuesProfile();
          this.$q.notify({
            color: "green-8",
            textColor: "white",
            icon: "fas fa-check-circle",
            message: "CADASTRADO COM SUCESSO!"
          });
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    opemModalUpdatePass() {
      this.modalUpdatePass = true;
    },
    closeModalUpdatePass() {
      this.modalUpdatePass = false;
      this.valuePass = {
        password: null,
        confirm_password: null
      };
    },
    saveSetPass() {
      this.$refs.password.validate();
      this.$refs.confirm_password.validate();
      if (
        this.$refs.password.hasError ||
        this.$refs.confirm_password.hasError
      ) {
        this.$refs.formHasError = true;
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "Informe sua senha"
        });
      } else if (this.valuePass.password != this.valuePass.confirm_password) {
        this.$refs.formHasError = true;
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "Senhas devem ser iguais"
        });
      } else {
        this.valuePass.id = this.values.id;
        this.$axios
          .post(`${process.env.API}/user/updateUser`, this.valuePass)
          .then(res => {
            this.closeModalUpdatePass();
            this.$q.notify({
              color: "green-7",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "Cadastrado com Sucesso!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar! Informe o desenvolvedor"
            });
          });
      }
    }
  }
};
</script>
