<template>
  <div>
    <div class="imageProfile bg-blue-grey-7 q-pa-md row">
      <div class="col-2 row justify-center q-mr-md" style="width:300px">
        <q-uploader
          accept=".jpg, image/*"
          class="shadow-0"
          color="white"
          style="min-width:100%"
          ref="files"
          @added="newImage"
        >
          <template v-slot:header="scope">
            <div class="row q-pt-sm">
              <div class="col-10 text-h6 text-grey-7 q-ml-md">IMAGEM DE PERFIL</div>
              <div class="col-1 row justify-end">
                <q-btn class="bg-red" style="font-size:20px" type="a" dense flat icon="edit">
                  <div class="row justify-end"></div>
                  <q-uploader-add-trigger />
                  <q-tooltip>Adicionar Imagem</q-tooltip>
                </q-btn>
              </div>
            </div>
          </template>
          <template v-slot:list="scope">
            <q-list separator>
              <div class="row justify-center" v-if="scope.canAddFiles">
                <q-avatar size="150px" class="bg-grey-4">
                  <img src="../img/default.jpg" />
                </q-avatar>
              </div>
              <div class="row justify-center">
                <q-avatar size="150px" class="bg-grey-4" v-if="scope.files[0] != undefined">
                  <img :src="scope.files[0].__img.src" />
                </q-avatar>
              </div>
            </q-list>
          </template>
        </q-uploader>
      </div>
      <div class="col-8">
        <div
          class="bg-grey-5 q-pa-sm row justify-center"
          style="font-size:18px"
        >DADOS DE ADMINISTRADOR</div>
      </div>
    </div>
    <div class="q-pa-md">
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
      <p>Conteúdo</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "RegisterAdmin",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      register: {
        image: null
      }
    };
  },
  methods: {
    //LIMITAR O CAMPO DE IMAGENS PARA CADASTRAR SOMENTE UMA ÚNICA IMAGEM
    newImage(img) {
      this.$refs.files.files[0] = img[0];
      this.$refs.files.files.forEach(value => {
        if (value != undefined && value != this.$refs.files.files[0]) {
          this.$refs.files.removeFile(value);
        }
      });

      console.log(img);
    }
  }
};
</script>

<style>
.imageProfile {
  top: 0px;
}
</style>