<template>
  <div>
    <q-dialog v-model="modalRegister" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">COMPLEMENTAR INFORMAÇÕES</div>
        </q-card-section>
        <q-card-section class="scroll row" style="max-height: 50vh">
          <div class="row justify-center q-pa-sm" style="width:100%">
            <q-input
              class="col-8"
              type="password"
              color="teal-10"
              v-model="valueHolder.password"
              label="NOVA SENHA"
              lazy-rules
              rounded
              outlined
              ref="password"
              :rules="[
            val => val !== null && val !== '' || 'informe sua idade por favor'
            ]"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>

            <!-- CONFIRMAR SENHA -->
            <q-input
              class="col-8"
              type="password"
              color="teal-10"
              v-model="valueHolder.confirm_password"
              label="CONFIRMAR SENHA"
              lazy-rules
              rounded
              outlined
              ref="confirm_password"
              :rules="[
            val => val !== null && val !== '' || 'informe sua idade por favor'
            ]"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <!-- <q-btn class="q-ma-xs" label="VOLTAR" color="red-10" unelevated /> -->
          <q-btn
            class="q-ma-xs"
            label="CONTINUAR"
            color="blue-10"
            unelevated
            @click="saveSetHolder()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: "RegisterHolder",
  data() {
    return {
      modalRegister: true,
      valueHolder: {
        password: null,
        confirm_password: null,
        first_access: 1
      },
      userLogged: {}
    };
  },
  create() {
    // this.getUserLogged();
  },
  methods: {
    getUserLogged() {
      this.$axios
        .get(`${process.env.API}/user`, {
          accept: "application/json"
        })
        .then(res => {
          this.userLogged = res.data;
        })
        .catch(err => {
          localStorage.token = null;
          // this.$router.push("login");
        });
    },
    saveSetHolder() {
      this.$refs.password.validate();
      this.$refs.confirm_password.validate();
      if (
        this.valueHolder.password == this.valueHolder.confirm_password &&
        (this.$refs.password.hasError || this.$refs.confirm_password.hasError)
      ) {
        this.$refs.formHasError = true;
      } else {
        this.valueHolder.id = this.userLogged.id;
        this.$axios
          .post(`${process.env.API}/user/updateUser`, this.valueHolder)
          .then(res => {
            this.$router.push("/index");
            this.$q.notify({
              color: "green-7",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "Cadastrado com Sucesso!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar! Informe o desenvolvedor"
            });
          });
      }
    }
  }
};
</script>

<style>
.divRegister {
  width: 300px;
  height: 300px;
}
</style>