<template>
  <div>
    <q-dialog v-model="modalRegisterManager" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">COMPLEMENTAR INFORMAÇÕES</div>
        </q-card-section>
        <q-card-section class="scroll row" style="max-height: 50vh">
          <div class="row q-pa-sm" style="width:100%">
            <div class="col-6">
              <!-- NOME -->
              <q-input
                color="teal-10"
                type="text"
                v-model="managerValue.first_name"
                autofocus
                label="NOME"
                dense
                class="q-ma-sm"
                ref="first_name"
                :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
              >
                <template v-slot:prepend>
                  <q-icon name="title" />
                </template>
              </q-input>

              <!-- SOBRENOME -->
              <q-input
                color="teal-10"
                type="text"
                v-model="managerValue.last_name"
                label="SOBRENOME"
                dense
                class="q-ma-sm"
                ref="last_name"
                :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
              >
                <template v-slot:prepend>
                  <q-icon name="title" />
                </template>
              </q-input>

              <!-- CPF -->
              <q-input
                color="teal-10"
                v-model="managerValue.CPF"
                unmasked-value
                mask="###.###.###-##"
                dense
                label="CPF"
                ref="CPF"
                :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
              >
                <template v-slot:prepend>
                  <q-icon name="how_to_vote" />
                </template>
              </q-input>
              <div class="q-pt-md">
                <q-input
                  class="col-8"
                  type="password"
                  color="teal-10"
                  v-model="managerUserPass.password"
                  dense
                  label="NOVA SENHA"
                  lazy-rules
                  rounded
                  outlined
                  ref="password"
                  :rules="[
            val => val !== null && val !== '' || 'informe sua idade por favor'
            ]"
                >
                  <template v-slot:prepend>
                    <q-icon name="lock" />
                  </template>
                </q-input>

                <!-- CONFIRMAR SENHA -->
                <q-input
                  class="col-8"
                  type="password"
                  color="teal-10"
                  v-model="managerUserPass.confirm_password"
                  label="CONFIRMAR SENHA"
                  lazy-rules
                  dense
                  rounded
                  outlined
                  ref="confirm_password"
                  :rules="[
            val => val !== null && val !== '' || 'informe sua idade por favor'
            ]"
                >
                  <template v-slot:prepend>
                    <q-icon name="lock" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="col row justify-center q-pt-md" style="width:100%">
              <q-uploader
                accept=".jpg, image/*"
                class="shadow-0"
                color="white"
                style="min-width:100%"
                ref="filesManager"
                @added="newImage"
              >
                <template v-slot:header="scope">
                  <div class="row flex-center bg-grey-4 q-pa-xs">
                    <div class="col-10 text-h6 text-grey-7 q-ml-md">IMAGEM</div>
                    <div class="col-1 row justify-end">
                      <q-btn class="bg-red" style="font-size:20px" type="a" dense flat icon="edit">
                        <div class="row justify-end"></div>
                        <q-uploader-add-trigger />
                        <q-tooltip>Editar imagem atual</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                </template>
                <template v-slot:list="scope">
                  <q-list separator>
                    <div class="row justify-center" v-if="scope.canAddFiles">
                      <img
                        :src="'data:image/png;base64,'+managerValue.image"
                        v-if="typeSave == 'edit'"
                      />
                      <img src="../img/default.jpg" v-else-if="typeSave == 'new'" />
                    </div>
                    <div class="row justify-center">
                      <div v-if="scope.files[0] != undefined">
                        <img :src="scope.files[0].__img.src" style="width:200px" />
                      </div>
                    </div>
                  </q-list>
                </template>
              </q-uploader>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <!-- <q-btn class="q-ma-xs" label="VOLTAR" color="red-10" unelevated /> -->
          <q-btn
            class="q-ma-xs"
            label="CONTINUAR"
            color="blue-10"
            unelevated
            @click="saveSetManager()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: "RegisterManager",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      register: {
        image: null
      },
      modalRegisterManager: true,
      managerValue: {
        first_name: null,
        last_name: null,
        image: null,
        user_id: 0
      },
      managerUserPass: {
        password: null,
        confirm_password: null,
        first_access: 1
      },
      typeSave: "new",
      userLogged: {}
    };
  },
  create() {
    this.getUserLogged();
    console.log("VEIO");
  },
  methods: {
    //LIMITAR O CAMPO DE IMAGENS PARA CADASTRAR SOMENTE UMA ÚNICA IMAGEM
    newImage(img) {
      this.$refs.filesManager.files[0] = img[0];
      this.$refs.filesManager.files.forEach(value => {
        if (value != undefined && value != this.$refs.filesManager.files[0]) {
          this.$filesManager.files.removeFile(value);
        }
      });

      console.log(img);
    },

    getUserLogged() {
      this.$axios
        .get(`${process.env.API}/user`, {
          accept: "application/json"
        })
        .then(res => {
          this.userLogged = res.data;
          console.log(res.data);
        })
        .catch(err => {
          localStorage.token = null;
          this.$router.push("login");
        });
    },

    //salvar alterações realizadas
    saveSetManager() {
      this.$refs.first_name.validate();
      this.$refs.last_name.validate();
      this.$refs.CPF.validate();
      this.$refs.password.validate();
      this.$refs.confirm_password.validate();
      if (
        this.$refs.first_name.hasError ||
        this.$refs.last_name.hasError ||
        this.$refs.CPF.hasError ||
        this.$refs.password.hasError ||
        this.$refs.confirm_password.hasError
      ) {
        this.$refs.formHasError = true;
      } else {
        console.log("CHEGOU NO SAVE");
        this.managerValue.user_id = this.userLogged.id;
        let files = this.$refs.filesManager.files;
        let fd = new FormData();

        fd.append("value", JSON.stringify(this.managerValue));
        fd.append("img", files[0]);

        this.$axios
          .post(`${process.env.API}/managers/setManager`, fd)
          .then(res => {})
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar Dados! Informe o desenvolvedor"
            });
          });

        this.managerUserPass.id = this.userLogged.id;
        this.$axios
          .post(`${process.env.API}/user/updateUser`, this.managerUserPass)
          .then(res => {
            this.$router.push("/index");
            this.$q.notify({
              color: "green-7",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "CADASTRO REALIZADO COM SUCESSO!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO ao carregar! Informe o desenvolvedor"
            });
          });
      }
    }
  }
};
</script>

<style>
.imageProfile {
  top: 0px;
}
.divRegister {
  width: 300px;
  height: 300px;
}
</style>