
    <template>
  <q-page>
    <div v-bind:class="{'q-pa-xl':desktopMargin}">
      <q-card class="row shadow-1 q-mb-xl" style="opacity:0.8 !important">
        <div class="col-md-9 row justify-left q-pl-md items-center" style="font-size:20px">
          <q-input
            placeholder="Pesquisar"
            rounded
            outlined
            color="blue-grey-10"
            style="width:100%"
            v-model="filter"
            v-if="showMyDocuments == false"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          <q-btn
            v-if="showMyDocuments == true"
            round
            dense
            size="md"
            @click="returnCardStudent()"
            icon="arrow_back"
            unelevated
            color="green-10"
            class="q-mr-xs q-ml-xs"
          />
          <div v-if="showMyDocuments == true" class="row flex-center q-ml-md">DOCUMENTOS</div>
        </div>
        <div class="col-md-3 col-xs-12 row justify-end">
          <q-btn
            color="secondary q-ma-md bg-green-10"
            unelevated
            icon-right="add"
            label="ADICIONAR ALUNO"
            @click="newStudent()"
            v-if="showMyDocuments == false"
          />
          <q-btn
            color="secondary q-ma-md bg-green-10"
            unelevated
            icon-right="add"
            label="ADICIONAR DOCUMENTO"
            v-if="showMyDocuments == true"
            @click="newDocument()"
          />
        </div>
      </q-card>

      <!-- CARD DE LISTAGEM DOS DOCUMENTOS DOS ALUNOS CADASTRADOS -->

      <div class="row" v-bind:class="{'justify-center':!desktopMargin}">
        <div class="row" v-if="showMyDocuments == true">
          <div
            class="row q-pa-md row justify-center text-orange-10"
            style="width:100%;text-shadow:0.1px 0.1px 0.8px black"
            v-if="myDocumentsBase == 0"
          >AINDA NÃO EXISTE DOCUMENTOS CADASTRADAS</div>
          <q-card
            class="row my-card q-ma-xs shadow-1"
            style="width:200px"
            v-for="document in myDocumentsBase"
            :key="document.id"
          >
            <q-img :src="'data:image/png;base64,'+document.archive">
              <div
                class="absolute-bottom text-subtitle2 descCard text-center bg-black"
                style="font-size:16px;opacity:0.8;"
              >{{document.title}}</div>
            </q-img>
            <div class="col-12 row justify-center">
              <q-btn
                size="12px"
                unelevated
                flat
                style="width:33%"
                color="orange-10"
                icon="edit"
                @click="updateDocument(document)"
              />
              <q-btn
                size="12px"
                unelevated
                flat
                style="width:33%"
                color="red-10"
                icon="delete"
                @click="deleteDocument(document)"
              />
              <q-btn
                size="12px"
                unelevated
                flat
                style="width:33%"
                color="blue-10"
                class="bg-grey-3"
                icon="cloud_download"
                @click="downloadDocument(document)"
              />
            </div>
          </q-card>
        </div>

        <!-- CARD DE LISTAGEM DOS ALUNOS CADASTRADOS -->

        <div v-if="showMyDocuments == false" class="row">
          <q-card
            class="row my-card q-ma-xs shadow-1 courseHover"
            style="width:200px"
            v-for="student in filteredItems"
            :key="student.id"
          >
            <div class="bg-blue-grey-10 barraSup" style="width:100%;height:3px"></div>
            <div class="col-11 q-pa-xs row justify-center" @click="myDocuments(student)">
              <q-avatar class="bg-grey-3" size="100px">
                <img :src="'data:image/png;base64,'+student.image" />
              </q-avatar>
            </div>
            <div class="col-1 row justify-end content-start">
              <q-btn
                flat
                round
                size="12px"
                color="orange-10"
                icon="edit"
                @click="editStudent(student.id)"
              />
              <q-btn flat round size="12px" color="red" icon="delete" />
              <q-btn
                flat
                round
                size="12px"
                color="blue-10"
                icon="visibility"
                @click="visualStudent(student.id)"
              />
            </div>
            <div class="col-12 row justify-center" @click="myDocuments(student)">
              <b
                class="col-12 text-blue-grey-9 row justify-center"
                style="font-size:15px;text-align:center"
              >{{student.first_name+' '+student.last_name}}</b>
              <b
                class="col-12 text-orange-10 row justify-center"
                style="font-size:15px;text-align:center"
              >CPF: {{student.CPF}}</b>
            </div>
          </q-card>
        </div>
      </div>

      <!-- Dialog  -->

      <q-dialog
        v-model="dialog"
        persistent
        full-width
        :maximized="true"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
        <q-card>
          <q-card-section
            class="bg-grey-4 text-grey-9 row justify-center"
            style="height:50px;margin-top:-10px;"
          >
            <div class="text-h6" style="text-shadow:1px 2px 2px grey">{{titleModal}}</div>
          </q-card-section>

          <q-card-section style="max-height: 80vh" class="scroll bg-grey-3 row">
            <!-- CONTEÚDO DIALOG -->

            <div class="col-md-8 col-sm-12 q-pa-md row">
              <q-card class="shadow-1 q-pb-md col-12">
                <div class="titleCard bg-orange-8"></div>
                <div class="q-pa-md text-h6 text-grey-7">PESSOAIS</div>
                <div class="row justify-center">
                  <!-- PRIMEIRO NOME -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-4 col-sm-4 on-left"
                    color="orange-10"
                    v-model="insert.student.first_name"
                    label="Nome"
                    ref="first_name"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="person_pin" />
                    </template>
                  </q-input>

                  <!-- SOBRENOME -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-4 col-sm-4 on-left"
                    color="orange-10"
                    v-model="insert.student.last_name"
                    label="Sobrenome"
                    ref="last_name"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="person_pin" />
                    </template>
                  </q-input>

                  <!-- DATA DE NASCIMENTO -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-2 col-sm-2 on-left"
                    color="orange-10"
                    v-model="insert.student.date_birth"
                    unmasked-value
                    mask="##/##/####"
                    label="Data Nascimento"
                    ref="date_birth"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy
                          ref="qDateProxy"
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-date
                            v-model="myLocale.dateSelected"
                            :locale="myLocale"
                            mask="MM/DD/YYYY"
                            @input="() => $refs.qDateProxy.hide()"
                          />
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>

                  <!-- SEXO -->

                  <q-select
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="orange-10"
                    v-model="insert.student.sexo"
                    :options="['MASCULINO','FEMININO']"
                    label="Sexo"
                    ref="sexo"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="looks" />
                    </template>
                  </q-select>

                  <!-- CPF -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="orange-10"
                    v-model="insert.student.CPF"
                    unmasked-value
                    mask="###.###.###-##"
                    label="CPF"
                    ref="CPF"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="how_to_vote" />
                    </template>
                  </q-input>

                  <!-- RG -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="orange-10"
                    v-model="insert.student.RG"
                    label="RG"
                  >
                    <template v-slot:prepend>
                      <q-icon name="how_to_vote" />
                    </template>
                  </q-input>

                  <!-- TELEFONE -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="orange-10"
                    v-model="insert.student.phone"
                    unmasked-value
                    mask="(##)#####-####"
                    label="Telefone"
                    ref="phone"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="phone" />
                    </template>
                  </q-input>
                </div>
              </q-card>
              <q-card class="shadow-1 q-pb-md q-mt-md col-12">
                <div class="titleCard bg-pink-8"></div>
                <div class="q-pa-md text-h6 text-grey-7">ENDEREÇO</div>
                <div class="row justify-center">
                  <!-- CEP -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="pink-10"
                    v-model="insert.student.address.CEP"
                    unmasked-value
                    mask="#####-###"
                    label="CEP"
                    ref="CEP"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="my_location" />
                    </template>
                  </q-input>

                  <!-- CIDADE -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="pink-10"
                    v-model="insert.student.address.city"
                    label="Cidade"
                    ref="city"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="location_city" />
                    </template>
                  </q-input>

                  <!-- RUA -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="pink-10"
                    v-model="insert.student.address.street"
                    label="Rua"
                    ref="street"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="streetview" />
                    </template>
                  </q-input>

                  <!-- NÚMERO -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="bg-pink-8"
                    v-model="insert.student.address.number"
                    label="Número"
                    ref="number"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="money" />
                    </template>
                  </q-input>

                  <!-- COMPLEMENTO -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="pink-10"
                    v-model="insert.student.address.complement"
                    label="Complemento"
                    ref="complement"
                    :rules="[]"
                  >
                    <template v-slot:prepend>
                      <q-icon name="low_priority" />
                    </template>
                  </q-input>

                  <!-- BAIRRO -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="pink-10"
                    v-model="insert.student.address.district"
                    label="Bairro"
                    ref="district"
                    :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="domain" />
                    </template>
                  </q-input>
                </div>
              </q-card>
              <q-card class="shadow-1 q-pb-md q-mt-md col-12" v-if="visibleResponsible">
                <div class="titleCard bg-purple-8"></div>
                <div class="q-pa-md text-h6 text-grey-7">RESPONSÁVEL</div>
                <div class="row justify-center">
                  <!-- NOME -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="purple-10"
                    v-model="insert.student.responsible.name"
                    label="Nome"
                  >
                    <template v-slot:prepend>
                      <q-icon name="person_pin" />
                    </template>
                  </q-input>

                  <!-- RG -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="purple-10"
                    v-model="insert.student.responsible.RG"
                    label="RG"
                  >
                    <template v-slot:prepend>
                      <q-icon name="art_track" />
                    </template>
                  </q-input>

                  <!-- PARENTESCO -->

                  <q-select
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="purple-10"
                    v-model="insert.student.responsible.family"
                    :options="['PAI','MAE','RESPOSAVEL LEGAL']"
                    label="Parentesco"
                  >
                    <template v-slot:prepend>
                      <q-icon name="looks" />
                    </template>
                  </q-select>

                  <!-- TELEFONE -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="purple-10"
                    v-model="insert.student.responsible.phone"
                    unmasked-value
                    mask="(##)#####-####"
                    label="Telefone"
                  >
                    <template v-slot:prepend>
                      <q-icon name="phone" />
                    </template>
                  </q-input>
                </div>
              </q-card>
              <q-card class="shadow-1 q-pb-md q-mt-md col-12">
                <div class="titleCard bg-teal-8"></div>
                <div class="q-pa-md text-h6 text-grey-7">DADOS BANCÁRIOS</div>
                <div class="row justify-center">
                  <!-- BANCO -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="teal-10"
                    v-model="insert.student.bank.bank_name"
                    label="Banco"
                  >
                    <template v-slot:prepend>
                      <q-icon name="account_balance" />
                    </template>
                  </q-input>

                  <!-- AGENCIA -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="teal-10"
                    v-model="insert.student.bank.agency"
                    label="Agência"
                  >
                    <template v-slot:prepend>
                      <q-icon name="business" />
                    </template>
                  </q-input>

                  <!-- CONTA -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="teal-10"
                    v-model="insert.student.bank.account"
                    label="Conta"
                  >
                    <template v-slot:prepend>
                      <q-icon name="credit_card" />
                    </template>
                  </q-input>
                </div>
              </q-card>
              <q-card class="shadow-1 q-pb-md q-mt-md col-12">
                <div class="titleCard bg-grey-8"></div>
                <div class="q-pa-md text-h6 text-grey-7">DADOS INSTITUCIONAIS</div>
                <div class="row justify-center">
                  <!-- MATRÍCULA -->

                  <q-input
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="orange-10"
                    v-model="insert.student.matricula"
                    label="Nº Matrícula"
                  >
                    <template v-slot:prepend>
                      <q-icon name="account_box" />
                    </template>
                  </q-input>

                  <!-- CURSO -->

                  <q-select
                    :disable="dialogDisable"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="grey-10"
                    v-model="insert.student.class_model.course_id"
                    :options="courseOptions"
                    label="Curso"
                    option-value="id"
                    option-label="title"
                    map-options
                    emit-value
                  >
                    <template v-slot:prepend>
                      <q-icon name="looks" />
                    </template>
                  </q-select>

                  <!-- TURMA -->

                  <q-select
                    :disable="dialogDisable"
                    v-if="classOptions != null"
                    class="col-xs-10 col-md-5 col-sm-5 on-left"
                    color="grey-10"
                    v-model="insert.student.class_model.id"
                    :options="classOptions"
                    emit-value
                    label="Turma"
                    option-value="id"
                    option-label="title"
                    map-options
                  >
                    <template v-slot:prepend>
                      <q-icon name="looks" />
                    </template>
                  </q-select>
                </div>
              </q-card>
            </div>
            <div class="col-md-4 col-sm-12 q-mt-md">
              <q-card class="shadow-1 q-pb-md col-12 row justify-center">
                <div class="titleCard bg-blue-grey-8"></div>

                <div class="row justify-center q-pt-md" style="width:100%">
                  <q-uploader
                    accept=".jpg, image/*"
                    class="shadow-0"
                    color="white"
                    style="min-width:100%"
                    ref="files"
                    @added="newImage"
                  >
                    <template v-slot:header="scope">
                      <div class="row">
                        <div class="col-10 text-h6 text-grey-7 q-ml-md">IMAGEM DE PERFIL</div>
                        <div class="col-1 row justify-end">
                          <q-btn
                            v-if="!dialogDisable"
                            class="bg-red"
                            style="font-size:20px"
                            type="a"
                            dense
                            flat
                            icon="edit"
                          >
                            <div class="row justify-end"></div>
                            <q-uploader-add-trigger />
                            <q-tooltip>Adicionar Imagem</q-tooltip>
                          </q-btn>
                        </div>
                      </div>
                    </template>
                    <template v-slot:list="scope">
                      <q-list separator>
                        <div class="row justify-center" v-if="scope.canAddFiles">
                          <q-avatar size="150px" class="bg-grey-4">
                            <img
                              :src="'data:image/png;base64,'+insert.student.image"
                              v-if="typeSave == 'edit' || typeSave == 'visul'"
                            />
                            <img src="../img/default.jpg" v-else-if="typeSave == 'new'" />
                          </q-avatar>
                        </div>
                        <div class="row justify-center">
                          <q-avatar
                            size="150px"
                            class="bg-grey-4"
                            v-if="scope.files[0] != undefined"
                          >
                            <img :src="scope.files[0].__img.src" />
                          </q-avatar>
                        </div>
                      </q-list>
                    </template>
                  </q-uploader>
                </div>
              </q-card>
            </div>
          </q-card-section>

          <!-- BOTÕES DE AÇÃO DO MODAL -->

          <q-card-actions align="right">
            <q-btn class="q-ma-xs" label="VOLTAR" color="red-10" @click="close()" unelevated />
            <q-btn
              class="q-ma-xs"
              v-show="!dialogDisable"
              label="SALVAR"
              @click="save(typeSave)"
              color="blue-10"
              unelevated
            />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <!-- DIALOG PARA CADASTRAR NOVO DOCUMENTO -->

      <q-dialog v-model="modalSetDocument" persistent>
        <q-card style="min-width: 350px;max-Width:400px !important;">
          <q-card-section class="row justify-center">
            <div class="text-h6 text-teal-10">NOVO DOCUMENTO</div>
          </q-card-section>
          <q-card-section class="scroll" style="max-height: 50vh">
            <q-input
              color="teal-10"
              v-model="documentValue.title"
              type="text"
              dense
              autofocus
              label="TÍTULO"
            >
              <template v-slot:prepend>
                <q-icon name="title" />
              </template>
            </q-input>
            <q-select
              class="col-xs-10 col-md-5 col-sm-5 on-left"
              color="teal-10"
              v-model="documentValue.type"
              :options="['IMAGE','PDF']"
              label="TIPO ARQUIVO"
            >
              <template v-slot:prepend>
                <q-icon name="label_important" />
              </template>
            </q-select>
            <div class="row justify-center q-pt-md" style="width:100%">
              <q-uploader
                accept=".jpg, image/*, .pdf"
                class="shadow-0"
                color="grey-9"
                style="max-width: 300px;min-width:100%"
                ref="filesDocument"
              >
                <template v-slot:header="scope">
                  <q-btn
                    v-if="scope.canAddFiles"
                    class="row"
                    style="width:100%;font-size:20px"
                    type="a"
                    dense
                    flat
                  >
                    <q-icon name="add" class="text-grey-4" style="font-size:60px;"></q-icon>
                    <div class="row justify-center">
                      <div class="q-uploader__title">
                        <b>CLICK AQUI</b> OU
                        <b>ARRASTE</b> UMA IMAGEM OU UM PDF
                      </div>
                    </div>
                    <q-uploader-add-trigger />
                    <q-tooltip>Adicionar Imagem</q-tooltip>
                  </q-btn>
                </template>
              </q-uploader>
            </div>
          </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <q-btn
              class="q-ma-xs"
              label="VOLTAR"
              @click="closeCardDocument()"
              color="red-10"
              unelevated
            />
            <q-btn
              class="q-ma-xs"
              label="SALVAR"
              @click="saveCardDocument()"
              color="blue-10"
              unelevated
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>
       

<script>
import moment from "moment";
import { required, minLength, between } from "vuelidate/lib/validators";
var base64 = require("base-64");
export default {
  data() {
    return {
      //MENSAGEM SOBRE A FALTA DO CADASTRO DE CURSOS E TURMAS
      existsClassCourses: true,
      //PADRÃO PARA CALENDÁRIO
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado".split("_"),
        daysShort: "Dom_Seg_Ter_Qua_Qui_Sex_Sáb".split("_"),
        months: "Janeiro_Fevereiro_Março_Abril_Maio_Junho_Júlio_Agosto_Setembro_Outubro_Novembro_Dezembro".split(
          "_"
        ),
        monthsShort: "Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez".split(
          "_"
        ),
        firstDayOfWeek: 1,
        dateSelected: null
      },
      // ITENS DE PAGINAÇÃO

      pagination: {
        page: 1,
        rowsPerPage: 5,
        labelRowsPerPage: "Alunos por Vez",
        optionsRowsPerPage: [2, 3, 5, 7, 10, 15, 20, 25, 30, 50, 0]
      },
      visibleResponsible: true,
      courseOptions: [],
      classOptions: null,
      titleModal: null,
      settingsData: false,
      selected: [],
      verifySelected: 0,
      title: "ALUNOS",
      students: [],
      filter: "",
      dialog: false,
      dialogDisable: false,
      modalSetDocument: false,
      insert: {
        student: {
          id: 0,
          RG: null,
          first_name: null,
          last_name: null,
          matricula: null,
          date_birth: null,
          sexo: null,
          CPF: null,
          phone: null,
          image: null,
          address: {
            city: null,
            street: null,
            complement: null,
            district: null,
            number: null,
            CEP: null
          },
          responsible: {
            name: null,
            RG: null,
            family: null,
            phone: null
          },
          bank: {
            bank_name: null,
            agency: null,
            account: null
          },
          class_model: {
            id: null,
            course_id: null
          }
        }
      },
      typeSave: null,
      desktopMargin: this.$q.platform.is.desktop,
      showMyDocuments: false,
      myDocumentsBase: [],
      documentValue: {
        title: null,
        type: null,
        student_id: null
      },
      typeDocument: null,
      studentDocumentID: null,
      teste: 0
    };
  },
  mounted() {
    //ANEXANDO TOKEN AO AXIOS
    this.$axios.defaults.headers.common[
      "Authorization"
    ] = `Bearer ${localStorage.token}`;

    this.clearInsert();
    this.valuesProfile();
    this.titleEmit();
    this.coursesData();
    this.existsClassCourse();
  },
  watch: {
    //OBSERVANDO CURSOS PARA MOSTRAR CLASSES DE ACORDO COM O CURSO SELECIONADO

    "insert.student.class_model.course_id"() {
      if (this.classOptions != null) {
        this.insert.student.class_model.id = null;
      }
      this.$axios
        .get(
          `${process.env.API}/classCourse/getClass/${this.insert.student.class_model.course_id}`
        )
        .then(res => {
          this.classOptions = res.data.data;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Não Foi Possível Alterar! Há informações incorretas"
          });
        });
    },

    //OBSERVANDO POPUP DE CALENDÁRIO PARA ADICIONAR O VALOR SELECIONADO NO IMPUT DE DATA

    "myLocale.dateSelected"() {
      this.insert.student.date_birth = moment(
        this.myLocale.dateSelected,
        "MM/DD/YYYY"
      ).format("DDMMYYYY");
    },

    //OBSERVANDO DATA DE NASCIMENTO PARA APRESENTAR DADOS DE RESPONSÁVEIS PARA MENORES DE IDADE

    "insert.student.date_birth"() {
      this.myLocale.dateSelected = moment(
        this.insert.student.date_birth,
        "DDMMYYYY"
      ).format("MM/DD/YYYY");
      let now = new Date(this.myLocale.dateSelected);

      let birth = new Date(this.myLocale.dateSelected);
      now.setFullYear(new Date().getFullYear());
      now.setMonth(new Date().getMonth());
      now.setDate(new Date().getDate());
      birth.setFullYear(birth.getFullYear() + 18);
      this.visibleResponsible = birth.getTime() > now.getTime();
      if (this.visibleResponsible) {
        if (this.typeSave != "edit" && this.typeSave != "visul") {
          this.insert.student.responsible = {
            name: null,
            RG: null,
            family: null,
            phone: null
          };
        }
      } else {
        this.insert.student.responsible = null;
      }
    },

    //OBSERVANDO O CAMPO CEP PARA PREENCHER AUTOMATICAMENTE OS DAMAIS CAMPOS RELACIONADOS
    "insert.student.address.CEP"() {
      var lengthCEP = this.insert.student.address.CEP;
      if (lengthCEP == null) {
        lengthCEP = 0;
      }
      if (lengthCEP.length >= 8) {
        this.$axios
          .get(`${process.env.API}/cep/${this.insert.student.address.CEP}`)
          .then(res => {
            if (this.typeSave != "edit" && this.typeSave != "visul") {
              let NewAddress = {
                city: res.data.localidade,
                street: res.data.logradouro,
                complement: res.data.complemento,
                district: res.data.bairro,
                number: null,
                CEP: this.insert.student.address.CEP
              };
              this.insert.student.address = NewAddress;
            }
          })
          .catch(err => {});
      }
    },

    //OBSERVANDO TABELA PARA MOSTRAR BOTÕES DE VISUALIZAR, EDITAR e EXCLUIR

    selected() {
      if (this.selected == this.verifySelected) {
        this.settingsData = false;
      } else {
        this.settingsData = true;
      }
    },
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    //FILTRO PARA O CAMPO DE PESQUISA DE ALUNOS (ESTUDANTES)
    filteredItems() {
      let send = this;
      return this.students.filter(function(item) {
        let item_name = item.first_name + " " + item.last_name;
        if (item_name.toUpperCase().indexOf(send.filter.toUpperCase()) > -1) {
          return item;
        } else if (item.CPF.indexOf(send.filter) > -1) {
          return item;
        }
      });
    }
  },
  methods: {
    //MENSAGEM DE AVISO QUANDO NÂO HOUVER CADASTRO DE CURSOS E TURMAS
    existsClassCourse() {
      this.$axios
        .get(`${process.env.API}/classCourse/getAllClass`)
        .then(res => {
          if (res.data.data == "") {
            this.$q
              .dialog({
                title: "ATENÇÃO",
                message:
                  "<b style='color:black'>NÃO EXISTE TURMA CADASTRADA NO SISTEMA! CADASTRE-A ANTES!</b><hr/><i style='color:red'>VOCÊ SERÁ REDIRECIONADO PARA O CADASTRO DE CURSO E TURMA...</i>",
                html: true,
                ok: {
                  unelevated: true,
                  color: "blue-10",
                  label: "OK"
                }
              })
              .onOk(() => {
                this.$router.push("cursos_turmas");
              });
          }
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Não Foi Possível Alterar! Há informações incorretas"
          });
        });
    },
    //FORÇAR DOWNLOAD DE DOCUMENTOS VINDO DA API
    forceFileDownload(response, item) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      if (item.type == "PDF") {
        link.setAttribute("download", "file.pdf"); //or any other extension
      } else if (item.type == "IMAGE") {
        link.setAttribute("download", "file.png"); //or any other extension
      }

      document.body.appendChild(link);
      link.click();
    },

    //DOWNLOAD DO DOCUMENTO SELECIONADO
    downloadDocument(item) {
      this.$axios
        .get(`${process.env.API}/docs/downloadDocument/${item.id}`, {
          responseType: "arraybuffer"
        })
        .then(res => {
          this.forceFileDownload(res, item);
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Não Foi Possível Alterar! Há informações incorretas"
          });
        });
    },
    //REMOVER DOCUMENTO CADASTRADO, PELO ID
    deleteDocument(item) {
      this.$q
        .dialog({
          title: "CONFIRMAÇÃO",
          message:
            "<b style='font-size:15px'> DESEJA REALMENTE EXCLUIR O ITEM " +
            item.title +
            "? </b>",
          html: true,
          ok: {
            unelevated: true,
            color: "blue-10",
            label: "SIM"
          },
          cancel: {
            unelevated: true,
            color: "red-10",
            label: "NÃO"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .get(`${process.env.API}/docs/deleteDocument/${item.id}`)
            .then(res => {
              this.myDocuments({ id: this.studentDocumentID });
              this.$q.notify({
                color: "green-7",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "EXCLUÍDO COM SUCESSO!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "Não Foi Possível Alterar! Há informações incorretas"
              });
            });
        })
        .onCancel(() => {})
        .onDismiss(() => {});
    },

    //ADICIONAR UM NOVO DOCUMENTO
    newDocument() {
      this.modalSetDocument = true;
      this.typeDocument = "new";
      this.clearDocumentValue();
    },

    //EDITAR DOCUMENTO CADASTRADO
    updateDocument(item) {
      this.modalSetDocument = true;
      this.documentValue = {
        title: item.title,
        type: item.type,
        student_id: item.student_id,
        id: item.id
      };
      this.typeDocument = "edit";
    },

    //FECHAR CARD DE CADASTRO DE DOCUMENTOS
    closeCardDocument() {
      this.modalSetDocument = false;
      this.typeDocument = null;
    },

    saveCardDocument() {
      let files = this.$refs.filesDocument.files;
      this.documentValue.student_id = this.studentDocumentID;
      let fd = new FormData();
      fd.append("value", JSON.stringify(this.documentValue));
      fd.append("img", files[0]);
      if (this.typeDocument == "new") {
        this.$axios
          .post(`${process.env.API}/docs/setDocuments`, fd)
          .then(res => {
            this.myDocuments({ id: this.documentValue.student_id });
            this.closeCardDocument();
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "Não Foi Possível Alterar! Há informações incorretas"
            });
          });
      } else if (this.typeDocument == "edit") {
        this.$axios
          .post(`${process.env.API}/docs/updateDocuments`, fd)
          .then(res => {
            this.myDocuments({ id: this.documentValue.student_id });
            this.closeCardDocument();
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "Não Foi Possível Alterar! Há informações incorretas"
            });
          });
      }
    },

    //RETORNAR AO CARD DE ESTUDANTES (ALUNOS)
    returnCardStudent() {
      this.showMyDocuments = false;
    },

    //APRESENTAR DOCUMENTOS DO ALUNO AO SELECIONAR O SEU RESPECTIVO CARD
    myDocuments(student) {
      this.$axios
        .get(`${process.env.API}/docs/getDocuments/${student.id}`)
        .then(res => {
          this.myDocumentsBase = res.data;
          this.showMyDocuments = true;
          this.studentDocumentID = student.id;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message:
              "Não Foi Possível Buscar os dados! Há informações incorretas"
          });
        });
    },

    //LIMITAR O CAMPO DE IMAGENS PARA CADASTRAR SOMENTE UMA ÚNICA IMAGEM
    newImage(img) {
      this.$refs.files.files[0] = img[0];
      this.$refs.files.files.forEach(value => {
        if (value != undefined && value != this.$refs.files.files[0]) {
          this.$refs.files.removeFile(value);
        }
      });
    },

    //ARREDONDAMENTO
    round(number, precision) {
      var factor = Math.pow(10, precision);
      var tempNumber = number * factor;
      var roundedTempNumber = Math.round(tempNumber);
      return roundedTempNumber / factor;
    },

    //CARREGAR CURSOS

    coursesData() {
      this.$axios
        .get(`${process.env.API}/classCourse/getCourses`)
        .then(res => {
          this.courseOptions = res.data.data;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Não Foi Possível Alterar! Há informações incorretas"
          });
        });
    },

    //FECHAR MODAL

    close() {
      this.classOptions = null;
      // this.courseOptions = null;
      this.dialogDisable = false;
      this.myLocale.dateSelected = null;
      this.clearInsert();
      this.dialog = false;
    },

    //SALVAR DADOS NOVOS OU EDITAR DADOS EXISTENTES

    save(type) {
      let files = this.$refs.files.files;

      let fd = new FormData();
      fd.append("value", JSON.stringify(this.insert));
      fd.append("img", files[0]);

      this.$refs.first_name.validate();
      this.$refs.last_name.validate();
      this.$refs.date_birth.validate();
      this.$refs.sexo.validate();
      this.$refs.CPF.validate();
      this.$refs.phone.validate();
      this.$refs.city.validate();
      this.$refs.street.validate();
      this.$refs.complement.validate();
      this.$refs.district.validate();
      this.$refs.number.validate();
      this.$refs.CEP.validate();

      if (
        this.$refs.first_name.hasError ||
        this.$refs.last_name.hasError ||
        this.$refs.date_birth.hasError ||
        this.$refs.sexo.hasError ||
        this.$refs.CPF.hasError ||
        this.$refs.phone.hasError ||
        this.$refs.city.hasError ||
        this.$refs.street.hasError ||
        this.$refs.complement.hasError ||
        this.$refs.district.hasError ||
        this.$refs.number.hasError ||
        this.$refs.CEP.hasError
      ) {
        this.formHasError = true;
      } else {
        if (type == "edit") {
          //Para editar um estudante já cadastrado

          this.$axios
            .post(`${process.env.API}/student/updateStudent`, fd, {
              accept: "application/json"
            })
            .then(res => {
              console.log(res);
              this.valuesProfile();
              this.close();
              this.$q.notify({
                color: "green-7",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "Alterações Confirmadas!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "Não Foi Possível Alterar! Há informações incorretas"
              });
            });
        } else if (type == "new") {
          //Para salvar um novo estudante
          this.$axios
            .post(`${process.env.API}/student/setStudent`, fd, {
              accept: "application/json"
            })
            .then(res => {
              this.valuesProfile();
              this.close();
              this.$q.notify({
                color: "green-7",
                textColor: "white",
                icon: "fas fa-check-circle",
                message: "Cadastro Realizado!"
              });
            })
            .catch(err => {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message: "Não Foi Possível Alterar! Há informações incorretas"
              });
            });
        }
      }
    },

    //VISUALIZAR DADOS DE ALUNO SELECIONADO

    visualStudent(ID) {
      this.classOptions = null;
      this.$axios
        .get(`${process.env.API}/student/getStudent/${ID}`)
        .then(res => {
          this.insert = res.data;
          this.dialogDisable = true;
          this.titleModal = "VISUALIZAR ALUNO";
          this.dialog = true;
          this.typeSave = "visul";
        })
        .catch(err => {
          this.$q.notify({
            //caso der errado
          });
        });
    },

    //ABRIR MODAL PARA NOVO CADASTRO DE ALUNO

    newStudent() {
      this.titleModal = "ADICIONAR ALUNO";
      this.dialog = true;
      this.dialogDisable = false;
      this.classOptions = null;
      this.typeSave = "new";

      // this.clearInsert()
    },

    //ABRIR MODAL PARA EDITAR REGISTROS DO ALUNO SELECIONADO

    editStudent(ID) {
      this.classOptions = null;
      this.myLocale.dateSelected = null;
      this.$axios
        .get(`${process.env.API}/student/getStudent/${ID}`)
        .then(res => {
          this.typeSave = "edit";
          this.insert = res.data;
          if (res.data.student.class_model == null) {
            this.insert.student.class_model = {
              id: null,
              course_id: null
            };
          }
          this.titleModal = "ALTERAR ALUNO";
          this.dialog = true;
        })
        .catch(err => {
          this.$q.notify({
            // Caso der errado
          });
        });
    },

    //TÍTULA DA TELA

    titleEmit() {
      this.$emit("title", this.title);
    },

    //LISTAR DADOS NA TABELA

    valuesProfile() {
      this.$axios
        .get(`${process.env.API}/student/getStudents`)
        .then(res => {
          this.students = res.data.data;
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    //RETORNAR DADOS DE INSERÇÃO AO VALOR INICIAL
    clearDocumentValue() {
      this.documentValue = {
        title: null,
        type: null,
        student_id: null
      };
    },
    clearInsert() {
      this.insert = {
        student: {
          id: 0,
          RG: null,
          first_name: null,
          last_name: null,
          matricula: null,
          date_birth: null,
          sexo: null,
          CPF: null,
          phone: null,
          image: null,
          address: {
            city: null,
            street: null,
            complement: null,
            district: null,
            number: null,
            CEP: null
          },
          responsible: {
            name: null,
            RG: null,
            family: null,
            phone: null
          },
          bank: {
            bank_name: null,
            agency: null,
            account: null
          },
          class_model: {
            id: null,
            course_id: null
          }
        }
      };
    }
  }
};
</script>

<style lang="stylus">
.titleCard {
  height: 5px;
  width: 100%;
}

.my-card {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}

.courseHover:hover {
  opacity: 0.8;
}

.courseHover:hover .barraSup {
  background-color: rgb(13, 161, 0) !important;
  transition: 0.2s;
}
</style>