<template>
  <q-page>
    <div>
      <q-card class="row shadow-1 row justify-end" style="opacity:0.8 !important">
        <q-btn
          color="secondary q-ma-md bg-green-10"
          unelevated
          icon-right="add"
          label="ADICIONAR USUÁRIO"
          @click="opemModalSetUser()"
        />
      </q-card>
    </div>
    <div class="q-pa-md">
      <q-card
        v-for="user in usersData"
        :key="user.id"
        v-show="user.type_user != 'ADMINISTRADOR'"
        class="row shadow-1 q-mt-sm"
        style="opacity:0.8 !important"
      >
        <div class="bg-blue-grey-10" style="width:100%;height:2px"></div>
        <div class="row" style="width:100%">
          <div class="col-md-1 col-xs-12 row justify-center content-center">
            <q-avatar size="70px" class="shadow-1">
              <img :src="'data:image/png;base64,'+user.image" />
            </q-avatar>
          </div>
          <div class="col-10 q-pa-sm">
            <div>
              <b class="q-mr-sm">APELIDO:</b>
              {{user.nickname}}
            </div>
            <div>
              <b class="q-mr-sm">EMAIL:</b>
              {{user.email}}
            </div>
            <div>
              <b class="q-mr-sm">TIPO USUÁRIO:</b>
              <b class="text-orange-10">{{user.type_user}}</b>
            </div>
            <div>
              <b class="q-mr-sm">RESPONSÁVEL:</b>
              <b v-if="user.type_user != 'ADMINISTRADOR'">
                {{user.user_id.nickname}}
                <i class="q-pl-xs">({{user.user_id.email}})</i>
                <i class="text-grey-8 q-pl-xs">{{user.user_id.type_user}}</i>
              </b>
            </div>
          </div>
        </div>
      </q-card>
    </div>

    <!-- MODAL PARA CADASTRAR NOVO USUÁRIO -->

    <q-dialog v-model="modalSetUser" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-center bg-grey-3">
          <div class="text-h6 text-teal-10">NOVO USUÁRIO</div>
        </q-card-section>
        <q-card-section class="scroll" style="max-height: 50vh">
          <div class="col-12 bg-grey-5 row justify-center" v-if="userValue.type_user == 'BOLSISTA'">
            <b
              class="col-12 row justify-start q-pa-sm bg-grey-6"
              style="font-size:16px"
            >SELECIONAR ALUNO</b>
            <q-card
              v-if="saveStudentSelected.id != null "
              class="my-card-select-student col-5 q-ma-xs shadow-1"
            >
              <div class="bg-blue-grey destaque" style="width:100%;height:4px"></div>
              <div class="row justify-end text-red-10 q-ma-xs">
                <q-icon
                  name="cancel"
                  size="20pt"
                  @click="clearSelectedStudent()"
                  style="position:absolute !important"
                />
              </div>
              <div class="row flex-center" style="font-size:16px">
                <div class="col-12 q-pa-xs row justify-center" style="min-height:70px">
                  <img
                    :src="'data:image/png;base64,'+saveStudentSelected.image"
                    style="width:100px"
                  />
                </div>
                <div
                  class="col-12 justify-center row"
                >{{saveStudentSelected.first_name+' '+saveStudentSelected.last_name}}</div>
              </div>
              <div class="bg-blue-grey-1 destaque2" style="width:100%;height:4px"></div>
            </q-card>
            <!-- CARD PARA ABRIR MODAL DE ESTUDANTES -->
            <q-card
              v-else
              class="col-1 my-card-select-student col-5 q-ma-xs shadow-1"
              @click="opemModalSelectedStudent()"
            >
              <div class="row flex-center" style="font-size:16px">
                <div class="col-12 row flex-center">
                  <q-icon name="add" class="text-grey" style="font-size:100px;"></q-icon>
                </div>
                <div class="col-12 justify-center row">SELECIONAR</div>
              </div>
            </q-card>
          </div>

          <div class="q-mr-md">
            <!-- APELIDO -->
            <q-input
              color="teal-10"
              v-model="userValue.nickname"
              type="text"
              dense
              autofocus
              label="APELIDO"
              class="q-ma-sm"
              ref="nickname"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="title" />
              </template>
            </q-input>
            <!-- EMAIL -->
            <q-input
              color="teal-10"
              v-model="userValue.email"
              type="text"
              dense
              label="EMAIL"
              class="q-ma-sm"
              ref="email"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="title" />
              </template>
            </q-input>
            <!-- TIPO USUÁRIO -->
            <q-select
              class="col-xs-10 col-md-5 col-sm-5 on-left"
              color="teal-10"
              v-model="userValue.type_user"
              :options="typeUserOption"
              label="TIPO USUÁRIO"
              ref="type_user"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            >
              <template v-slot:prepend>
                <q-icon name="looks" />
              </template>
            </q-select>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            color="red-10"
            unelevated
            @click="closeModalSetUser()"
          />
          <q-btn class="q-ma-xs" label="SALVAR" color="blue-10" unelevated @click="saveUser()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="dialogSelectStudent"
      persistent
      full-width
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-grey-1 text-white">
        <div class="bg-teal flex flex-center" style="min-height:75px;width:100%">
          <div style="font-size:20px">
            <b>SELECIONAR ESTUDANTE BOLSISTA</b>
          </div>
        </div>
        <div class="bg-teal-4" style="width:100%; height:10px"></div>
        <q-card-section class="scroll" style="max-height: 55vh;min-height: 80vh">
          <div class="row col-12 q-pa-md">
            <!-- 
            v-model="search"-->
            <q-input
              class="q-pl-sm q-pr-sm col-5"
              rounded
              v-model="filter"
              color="teal-4"
              outlined
              placeholder="PESQUISAR"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="col-12 row q-pa-md">
            <!-- MOSTRAR ESTUDANTES -->
            <div
              class="row my-card shadow-1 q-ml-sm"
              v-for="student in filteredItems"
              :key="student.id"
              @click="clickStudent(student)"
              style="width:200px"
            >
              <div class="col-9 q-pl-xl q-pa-xs row justify-center">
                <q-avatar class="bg-grey-3" size="80px">
                  <img :src="'data:image/png;base64,'+student.image" />
                </q-avatar>
              </div>
              <div class="col">
                <q-checkbox
                  v-model="studentSelected"
                  :val="student"
                  color="orange-10"
                  :ref="'studentRef'"
                  disable
                />
              </div>
              <div class="col-12 row justify-center">
                <b
                  class="col-12 text-blue-grey-9 row justify-center"
                  style="font-size:15px"
                >{{student.first_name+' '+student.last_name}}</b>
                <b
                  class="col-12 text-orange-10 row justify-center"
                  style="font-size:15px"
                >CPF: {{student.CPF}}</b>
              </div>
            </div>
            <!-- FIM MOSTRAR ESTUDANTES -->
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            class="q-ma-xs"
            label="VOLTAR"
            color="red-10"
            unelevated
            @click="closeSelectStudent()"
          />
          <q-btn
            class="q-ma-xs"
            label="SALVAR"
            color="blue-10"
            unelevated
            @click="saveSelectStudent()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="modalPassGenerete"
      persistent
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-grey-1 text-white">
        <div class="bg-teal flex flex-center q-pa-sm" style="min-height:75px;width:100%">
          <div style="font-size:18px;">
            <b>SENHA GERADA PARA O USUÁRIO NOVO</b>
          </div>
        </div>
        <div class="bg-teal-4" style="width:100%; height:10px"></div>
        <q-card-section
          class="text-black flex-center flex"
          style="max-height: 5vh;min-height: 6vh;font-size:20px"
        >{{passRandom}}</q-card-section>
        <q-card-actions align="right">
          <q-btn
            class="q-ma-xs"
            label="OK"
            color="green-10"
            unelevated
            @click="closeModalPassGenerete()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      title: "USUÁRIOS",
      usersData: [],
      modalSetUser: false,
      userValue: {
        nickname: null,
        email: null,
        type_user: "BOLSISTA",
        user_id: 0,
        student_id: 0
      },
      typeUserOption: [],
      studentSelected: [],
      saveStudentSelected: {},
      dialogSelectStudent: false,
      studentsArray: [],
      filter: "",
      modalPassGenerete: false,
      passRandom: null,
      userLogged: {}
    };
  },
  mounted() {
    this.$axios.defaults.headers.common[
      "Authorization"
    ] = `Bearer ${localStorage.token}`;
    this.getUsers();
    this.getUser();
    this.titleEmit();
  },
  computed: {
    //FILTRO PARA O CAMPO DE PESQUISA DE ALUNOS (ESTUDANTES)
    filteredItems() {
      let send = this;
      return this.studentsArray.filter(function(item) {
        let item_name = item.first_name + " " + item.last_name;
        if (item_name.toUpperCase().indexOf(send.filter.toUpperCase()) > -1) {
          return item;
        } else if (item.CPF.indexOf(send.filter) > -1) {
          return item;
        }
      });
    }
  },
  methods: {
    titleEmit() {
      this.$emit("title", this.title);
    },
    closeModalPassGenerete() {
      this.modalPassGenerete = false;
      this.passRandom = null;
    },
    clickStudent(item) {
      this.studentSelected = [];
      this.studentSelected.push(item);
      this.saveStudentSelected = item;
    },
    opemModalSelectedStudent() {
      this.getStudents();
      this.dialogSelectStudent = true;
    },
    closeSelectStudent() {
      this.dialogSelectStudent = false;
      this.saveStudentSelected = {};
      this.studentSelected = [];
    },
    saveSelectStudent() {
      this.dialogSelectStudent = false;
      this.studentSelected = [];
    },
    clearSelectedStudent() {
      this.saveStudentSelected = {};
    },
    getStudents() {
      this.$axios
        .get(`${process.env.API}/student/getStudents`)
        .then(res => {
          this.studentsArray = res.data.data;
          // console.log(this.studentsArray);
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO ao carregar! Informe o desenvolvedor"
          });
        });
    },

    //   BUSCAR USUÁRIOS CADASTRADOS
    getUsers() {
      this.$axios
        .get(`${process.env.API}/user/getUsers`)
        .then(res => {
          this.usersData = res.data.data;
          console.log(this.usersData);
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO realizar operação! Informe o desenvolvedor"
          });
        });
    },

    //PEGAR DADOS DO USUÁRIO ATUAL
    getUser() {
      this.$axios
        .get(`${process.env.API}/user`)
        .then(res => {
          this.userLogged = res.data;
          if (res.data.type_user == "ADMINISTRADOR") {
            this.typeUserOption = ["PROFESSOR", "BOLSISTA"];
          } else if (res.data.type_user == "PROFESSOR") {
            this.typeUserOption = ["BOLSISTA"];
          }
        })
        .catch(err => {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "ERRO realizar operação! Informe o desenvolvedor"
          });
        });
    },

    // ABRIR MODAL DE CADASTRO DE USUÁRIOS
    opemModalSetUser() {
      this.modalSetUser = true;
    },

    // FECHAR MODAL DE CADASTRO DE USUÁRIO
    closeModalSetUser() {
      this.studentSelected = [];
      this.clearUserValue();
      this.getUsers();
      this.modalSetUser = false;
    },

    // LIMPAR VARIAVEIS
    clearUserValue() {
      this.userValue = {
        nickname: null,
        email: null,
        type_user: "BOLSISTA",
        user_id: 0,
        student_id: 0
      };
    },

    //Salvar cadastro de usuário
    saveUser() {
      this.$refs.nickname.validate();
      this.$refs.email.validate();
      this.$refs.type_user.validate();

      if (
        this.$refs.nickname.hasError ||
        this.$refs.email.hasError ||
        this.$refs.type_user.hasError
      ) {
        this.formHasError = true;
      } else {
        // this.userValue.user_id = this.saveStudentSelected.id;
        this.userValue.student_id = this.saveStudentSelected.id;
        this.$axios
          .post(`${process.env.API}/user/setUser/`, this.userValue)
          .then(res => {
            this.closeModalSetUser();
            this.passRandom = res.data.passRandom;
            let dataMail = {
              sender: this.userLogged.id,
              recipient: res.data.data.id,
              content: "Sua senha de primeiro acesso é: " + this.passRandom,
              subject: "Senha De Usuário"
            };
            // -------envio de email -------------
            this.$axios
              .post(`${process.env.API}/email/sendEmail`, dataMail)
              .then(res => {})
              .catch(err => {});
            // ----------envio de email -------------
            this.modalPassGenerete = true;
            this.$q.notify({
              color: "green-8",
              textColor: "white",
              icon: "fas fa-check-circle",
              message: "Cadastro realizado com sucesso!"
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "ERRO realizar operação! Informe o desenvolvedor"
            });
          });
      }
    }
  }
};
</script>

<style>
.my-card-select-student {
  cursor: pointer;
}
.my-card-select-student:hover {
  box-shadow: 1px 1px 3px rgb(129, 129, 129);
  transition: 0.2s;
}
.my-card-select-student:hover .destaque2 {
  background-color: rgb(177, 177, 177) !important;
  transition: 0.2s;
  height: 8px !important;
  margin-top: -4px !important;
}
.my-card-select-student:hover .destaque {
  background-color: rgb(22, 150, 5) !important;
  transition: 0.2s;
}
.my-card {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
</style>