<template>
  <q-layout class="row">
    <!-- <div class="col gt-sm background-login">
      <div class="background-login-logo"></div>
    </div>-->
    <div class="col">
      <q-page-container>
        <router-view />
      </q-page-container>
    </div>
  </q-layout>
</template>

<style>
.background-login {
  background-color: #022c32;
}
.background-login-logo {
  background: url(../img/logoSist.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  height: 100%;
}
</style>


<script>
import { openURL } from "quasar";

export default {
  name: "MyLayout",
  data() {
    return {
      logo: true,
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  beforeCreate: function() {
    if (localStorage.token == null) {
      this.$router.push("login");
    } else {
      this.$axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${localStorage.token}`;
      this.$axios
        .get(`${process.env.API}/user`, {
          accept: "application/json"
        })
        .then(res => {
          this.$router.push("index");
        })
        .catch(err => {
          localStorage.token = null;
          this.$router.push("login");
        });
    }
  },
  // mounted(){
  //   this.redirect();
  // },
  methods: {
    redirect() {},
    openURL
  }
};
</script>