<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="text-white" style="background-color:#00783f">
      <q-toolbar>
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          <!-- TITULO DO SITE -->
        </q-toolbar-title>

        <div>
          <q-btn-dropdown flat>
            <template v-slot:label>
              <q-btn round color="white text-grey-8" unelevated glossy>
                <q-avatar class="bg-grey-3" size="40px">
                  <img :src="'data:image/png;base64,'+userLogged.type_user_data.image" />
                </q-avatar>
              </q-btn>
            </template>
            <div class="row no-wrap q-pa-md bg-grey-9 text-white">
              <div class="column row justify-around">
                <div class="row justify-end text-green-3" style="font-size:20px">
                  <b>{{userLogged.nickname}}</b>
                </div>
                <div class="row justify-end">{{userLogged.email}}</div>
              </div>
              <q-separator vertical inset class="q-mx-md bg-white" />
              <div class="column items-center">
                <q-avatar class="bg-grey-2" size="80px">
                  <img :src="'data:image/png;base64,'+userLogged.type_user_data.image" />
                </q-avatar>

                <!-- <q-btn color="primary" label="Logout" push size="sm" v-close-popup /> -->
              </div>
            </div>
            <div>
              <div class="row bg-grey-2">
                <div class="col-12 q-pa-sm q-mr-md row justify-between" style="width:100%">
                  <q-btn
                    color="green-10"
                    label="Perfil"
                    @click="$router.push('perfil')"
                    unelevated
                    size="sm"
                    icon="face"
                    v-close-popup
                  />
                  <!-- <div class="row justify-end q-pa-sm q-mr-md"> -->
                  <q-btn
                    class
                    color="green-10"
                    label="Sair"
                    @click="logout()"
                    unelevated
                    size="sm"
                    v-close-popup
                    icon="exit_to_app"
                  />
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </q-btn-dropdown>
        </div>
      </q-toolbar>
      <div class="bg-indigo-1" style="height:40px;width:100%;">
        <q-toolbar>
          <!-- TÍTULO DA PÁGINA -->
          <q-toolbar-title class="text-grey-9">{{title}}</q-toolbar-title>
        </q-toolbar>
      </div>
    </q-header>

    <!-- MENU LATERAL -->
    <q-drawer v-model="leftDrawerOpen" content-class="menu shadow-1">
      <q-list>
        <!-- MENU PERFIL -->
        <q-item-label
          class="text-white"
          style="background-color:rgb(0, 50, 30);height:200px"
          header
        >
          <div class="col-12 row justify-center">
            <q-avatar class="bg-grey-3" size="100px">
              <img :src="'data:image/png;base64,'+userLogged.type_user_data.image" />
            </q-avatar>
          </div>
          <div class="col-12 q-pa-sm row justify-center">
            <q-btn-dropdown
              class="flat"
              outline
              unelevated
              color="green-3"
              :label="userLogged.nickname"
            >
              <q-list>
                <q-item to="/perfil" active-class="my-menu-item-active" clickable v-close-popup>
                  <q-item-section>
                    <q-item-label>Meu Perfil</q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-icon name="face" />
                  </q-item-section>
                </q-item>
              </q-list>

              <q-list>
                <q-item
                  @click="logout()"
                  active-class="my-menu-item-active"
                  clickable
                  v-close-popup
                >
                  <q-item-section>
                    <q-item-label>Sair</q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-icon name="exit_to_app" />
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
          <div
            class="q-pa-sm col-12 row justify-center text-green-2"
            style="font-size:13px"
          >{{userLogged.email}}</div>
        </q-item-label>

        <!-- ITENS DO MENU -->
        <q-item
          clickable
          tag="a"
          class="my-menu-item"
          active-class="my-menu-item-active"
          to="/index"
          rel="noopener"
        >
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>INICIO</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          tag="a"
          class="my-menu-item"
          active-class="my-menu-item-active"
          v-if="false"
          to="/perfil"
        >
          <q-item-section avatar>
            <q-icon name="face" />
          </q-item-section>
          <q-item-section>
            <q-item-label>PERFIL</q-item-label>
          </q-item-section>
        </q-item>

        <q-expansion-item
          icon="mail"
          label="CADASTROS"
          active-class="my-menu-item-active"
          class="my-menu-item"
        >
          <q-list style="background-color: rgb(0, 20, 5);box-shadow:1px 1px 3px 2px black inset">
            <q-item
              class="q-pl-xl my-menu-item"
              clickable
              tag="a"
              active-class="my-menu-item-active"
              to="/cursos_turmas"
            >
              <q-item-section avatar>
                <q-icon name="school" />
              </q-item-section>
              <q-item-section>
                <q-item-label>CURSOS E TURMAS</q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              class="q-pl-xl my-menu-item"
              clickable
              tag="a"
              active-class="my-menu-item-active"
              to="/modalidades"
            >
              <q-item-section avatar>
                <q-icon name="sports" />
              </q-item-section>
              <q-item-section>
                <q-item-label>MODALIDADES</q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              class="q-pl-xl my-menu-item"
              clickable
              tag="a"
              active-class="my-menu-item-active"
              to="/alunos"
            >
              <q-item-section avatar>
                <q-icon name="emoji_people" />
              </q-item-section>
              <q-item-section>
                <q-item-label>ALUNOS</q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              class="q-pl-xl my-menu-item"
              clickable
              tag="a"
              active-class="my-menu-item-active"
              to="/usuarios"
              v-if="userLogged.type_user != 'BOLSISTA'"
            >
              <q-item-section avatar>
                <q-icon name="supervisor_account" />
              </q-item-section>
              <q-item-section>
                <q-item-label>USUÁRIOS</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>
        <q-item
          class="my-menu-item"
          clickable
          tag="a"
          active-class="my-menu-item-active"
          to="/eventos"
        >
          <q-item-section avatar>
            <q-icon name="event" />
          </q-item-section>
          <q-item-section>
            <q-item-label>EVENTOS</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class style="background:#F8F8FF !important">
      <router-view @title="setTitle" @select="selectItem" @userProfile="updateProfile" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "MyLayout",
  data() {
    return {
      title: "Teste",
      profileEmit: {},
      select: "home",
      leftDrawerOpen: this.$q.platform.is.desktop,
      userLogged: {}
    };
  },
  beforeCreate: function() {
    if (localStorage.token == null) {
      this.$router.push("login");
    } else {
      this.$axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${localStorage.token}`;
      this.$axios
        .get(`${process.env.API}/user`, {
          accept: "application/json"
        })
        .then(res => {
          this.userLogged = res.data;
          console.log(this.userLogged);
        })
        .catch(err => {
          localStorage.token = null;
          this.$router.push("login");
        });
    }
  },
  watch: {
    profileEmit() {
      this.$axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${localStorage.token}`;
      this.$axios
        .get(`${process.env.API}/user`, {
          accept: "application/json"
        })
        .then(res => {
          this.userLogged = res.data;
          console.log(this.userLogged);
        })
        .catch(err => {
          localStorage.token = null;
          this.$router.push("login");
        });
    }
  },
  // create() {},
  methods: {
    openURL,
    setTitle(emit) {
      this.title = emit;
    },
    updateProfile(emit) {
      this.profileEmit = emit;
    },
    selectItem(emit) {
      this.select = emit;
    },
    logout() {
      this.$axios
        .get(`${process.env.API}/logout`)
        .then(res => {
          localStorage.token = undefined;
          localStorage.type = undefined;
          this.$router.go("login");
        })
        .catch(err => {});
    }
  }
};
</script>

<style>
.menu {
  background-color: rgb(0, 9, 2);
}
.my-menu-item {
  color: white;
}
.my-menu-item-active {
  /* background-color: rgb(6, 46, 18); */
  color: rgb(159, 211, 15);
}
.menu-caption {
  color: rgb(206, 206, 206);
}
.my-menu-item-active .menu-caption {
  color: rgb(206, 206, 206);
}
</style>
