<template>
  <q-layout class="body flex flex-center">
    <div class="col-12">
      <q-page-container>
        <router-view />
      </q-page-container>
    </div>
  </q-layout>
</template>

<script>
export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      userLogged: {}
    };
  },
  beforeCreate: function() {
    if (localStorage.token == null) {
      this.$router.push("login");
    } else {
      this.$axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${localStorage.token}`;
      this.$axios
        .get(`${process.env.API}/user`, {
          accept: "application/json"
        })
        .then(res => {
          this.userLogged = res.data;
        })
        .catch(err => {
          localStorage.token = null;
          this.$router.push("login");
        });
    }
  }
};
</script>

<style>
.body {
  background-color: rgb(1, 37, 10);
}
.logo {
  background: url(../img/logoSist.png);

  /* position:absolute; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  height: 100%;
  /* width: 50%; */
}
</style>